[2020-03-10 19:40] dayhaysoos opened #1 "LocalStorage integration"
There are some objects that should be persisted through local storage. Right now, the only object that gets written to local storage is the "checkoutCart" (but it's key is skus).

First of all, I think there could be a more thorough approach for using local storage, I'm straight up just writing to LS manually, I know there is a hooks library for handling local storage and stuff, maybe that'll help

[2020-03-10 19:44] theianjones commented on #1
Sounds like the tasks are:

- evaluate local storage libraries and decide on one
- implement a utility function for getting and setting localStorage with said library
- use this utility to store `checkoutCart`, `checkoutData`, and `cartDetails`

[2020-03-10 19:46] dayhaysoos commented on #1
@theianjones yes.. That. Thank you.

[2020-03-10 19:49] doingandlearning commented on #1
Haven't done much with local storage before but [this blog](https://programmingwithmosh.com/react/localstorage-react/) recommends [this library](https://github.com/marcuswestin/store.js/) - I notice the last commit to the library was Feb '18 - so there are probably better options?

[2020-03-10 19:50] dayhaysoos opened #2 "UI that demonstrates what the library can do"
A normal e-commerce layout with buttons that add things to the cart, but also a display panel that properly displays the data that the shopping cart keeps track of

[2020-03-10 19:51] theianjones commented on #1
Looks like we are setting localStorage here:

https://github.com/dayhaysoos/use-stripe-cart/blob/d485dd176f9abca27cfd70a9e09f567128680778/src/index.js#L89-L114

and here:

https://github.com/dayhaysoos/use-stripe-cart/blob/d485dd176f9abca27cfd70a9e09f567128680778/src/index.js#L222-L223

and getting localStorage here:

https://github.com/dayhaysoos/use-stripe-cart/blob/d485dd176f9abca27cfd70a9e09f5

[2020-03-10 19:52] theianjones commented on #1
Ive used [this](https://usehooks.com/useLocalStorage/) before and it seems like a good solution.

[2020-03-10 19:54] dayhaysoos opened #3 "Documentation"
The README.md should document the features that come with this library and how to use it and how to set it up in a development environment

[2020-03-10 20:01] dayhaysoos opened #4 "Testing"
Testing library is already set up, just need to do the things

Things to test:

- [x] Skus maintains this shape

[code]

This is the source of truth formatCheckoutData. When addItems is fired, the related sku ID updates the quantity (the number next to it)

- [x] Checkout data is formatted to maintain this shape:
[code]

The function formatCheckoutCart is what handles this.This might mean writing

[2020-03-10 20:03] doingandlearning commented on #1
So, at the moment the items are keyed by SKUs. We can refactor to use the useLocalStorage hook for this at the moment.

That could be the first task.

What would the checkoutData contain and what would it be keyed against?
Same question for the cartDetails, I guess.

[2020-03-10 20:04] dayhaysoos commented on #1
@theianjones I wonder if I could more or less leave things the same, but use `useLocalStorage` where my reducer is. That would mean the state in the reducer is being reflected in localStorage now :o

[2020-03-10 20:11] theianjones commented on #1
@vojtaholik suggested [this library](https://github.com/streamich/react-use/blob/master/docs/useLocalStorage.md) (react-use not `usehooks`) because it actually checks for window where as `usehooks` makes you check yourself.

[2020-03-10 20:13] dayhaysoos commented on #1
@doingandlearning

checkoutData is what Stripe's redirectToCheckout method needs to render the products on the Checkout Screen. The data has to be formatted like this more or less:

[code]

in the above instance, checkoutData is what the array is in the items key

cartDetails details keeps track of more information in the cart than what checkoutData keeps track of.

<img width="273" alt="Screen Sh

[2020-03-10 20:25] dayhaysoos opened #5 "Move important values into reducer"
Items such as:

- checkoutData
- cartDetails
- totalPrice
-cartCount

These things should probably be within the reducer themselves, rather than variables that are sourced by the reducers. I had trouble trying to create these values within the reducer originally which is why I am doing it this way.

[2020-03-10 20:49] Developerayo commented on #3
Taking this up :)

[2020-03-13 16:46] dayhaysoos commented on #4
@all-contributors please add @doingandlearning for tests
@all-contributors please add @theianjones for tests

[2020-03-13 16:48] dayhaysoos commented on #4
@all-contributors please add @theianjones for tests

[2020-03-13 16:48] dayhaysoos commented on #4
@all-contributors please add @doingandlearning for tests

[2020-03-13 17:54] theianjones opened #11 "Refactor totalPrice"
We are returning the `totalPrice` from the hook. It is a formatted string that takes an Integer in cents and returns a string dollar amount.

So 100 -> '$1.00'

When I went to test this attribute, I wrongly assumed two things:
- that it would give me an integer back
- that it I wouldn't have to call a function to use it

I think we could update the name of this variable name to `formattedDisplayPr

[2020-03-15 19:38] dayhaysoos commented on #11
This makes sense to me, do you want to submit another PR for this or do you want to do it in the test branch you're working on @theianjones ?

[2020-03-15 20:11] dayhaysoos opened #15 "Handling cart details"
Cart Details is supposed to be the reference to the info about the items in the cart. It should be storing data, like quantity, image for said item and the price of that item.

Right now, cart details is an object that works similarly to the skus object, but it has more information per sku (the information stated above)

Trying to figure out the best way to approach this. Should this be an array o

[2020-03-15 21:36] dayhaysoos commented on #4
@all-contributors please add @dayhaysoos for being dayhaysoos

[2020-03-16 01:13] dayhaysoos commented on #4
@all-contributors please add @dayhaysoos for test

[2020-03-16 02:04] dayhaysoos commented on #15
Just made a branch for it:

https://github.com/dayhaysoos/use-stripe-cart/tree/nick/cartDetails

This is what you get when you log cartDetails:

<img width="491" alt="Screen Shot 2020-03-15 at 9 59 14 PM" src="https://user-images.githubusercontent.com/1852675/76717079-e81f8300-6708-11ea-8b7b-84a39b13e860.png">

Do y'all think this is good enough? We might want to make a function that puts these al

[2020-03-16 14:29] dayhaysoos commented on #4
@all-contributors please add @dayhaysoos for test

[2020-03-16 14:30] dayhaysoos commented on #4
wtf 😡

[2020-03-16 16:57] dayhaysoos commented on #4
@all-contributors please add @dayhaysoos for test

[2020-03-16 16:58] dayhaysoos commented on #4
@all-contributors please add @dayhaysoos for tests

[2020-03-17 00:54] dayhaysoos commented on #4
@all-contributors please add @dayhaysoos for test

[2020-03-17 00:55] dayhaysoos commented on #4
FFFFFFFFFFFFFFFFF

[2020-03-17 00:57] dayhaysoos commented on #4
@all-contributors please add @dayhaysoos for tests

[2020-03-18 00:12] dayhaysoos opened #17 "Refactor cartDetails to sync up with "skus" object"
Problem:  when addItem/deleteItem is fired, skus updates just fine. cartDetails seems to keep the data that derives from cartItems, though.

Possible solution: refactoring deleteItem to remove from cartItems so that cartDetails properly reflects what it should.

[2020-03-28 23:21] ChrisBrownie55 opened #21 "Calls to Intl should use the user's or developer's provided language"
In the following code block the call to `Intl.NumberFormat` is hardcoded to `'en-US'` which is inaccessible to those that use other symbols for decimal and thousand separators.

https://github.com/dayhaysoos/use-stripe-cart/blob/5e24747a2837e8d94db68f30ae0bb17c20df9dd2/src/util.js#L2

It's possible to use `navigator.language` to infer the user's preferred language. One could also do this in combin

[2020-03-29 14:30] ChrisBrownie55 commented on #21
I think the biggest question here is, if `'en-US'` is replaced with `navigator.language` and support is added for a developer to utilize their own internationalization system, how should the developer's chosen language be passed in?

Would it be done in the `<CartProvider>`? An example of that might look like:

[code]

With this format, `<CartProvider>` could have `language` default to `navigator.

[2020-03-29 16:47] dayhaysoos commented on #21
This sounds great to me! I also think we should do this for shippingAddressCollection (Checkout recently added this).

[2020-03-29 16:48] ChrisBrownie55 commented on #4
I was looking into writing tests for `redirectToCheckout`:

But it looks like the code is currently using hardcoded `http://localhost:8080` URLs instead of `successUrl` and `cancelUrl`.

https://github.com/dayhaysoos/use-stripe-cart/blob/5e24747a2837e8d94db68f30ae0bb17c20df9dd2/src/index.js#L269-L278

Perhaps you meant to pass the `successUrl` and `cancelUrl` from the `CartContext` like so:

[code

[2020-03-29 17:32] ChrisBrownie55 commented on #4
Also, I believe that in the above code for `redirectToCheckout`, the `error` object should be returned so that the developer can handle notifying their user that an error occurred instead of simply logging it where the average user won't know to check.

[2020-03-29 17:34] dayhaysoos commented on #4
Yes, the success and cancel urls should be passed from CartContext the way you described it. We should account for two more things:

`billingAddressCollection` I believe this could be a boolean, if the seller wanted to collect billing address.

there's also `shippingAddressCollection` which is supposed to be an object of an array of countries that the seller will ship to.

[code]
<CartProvider
  a

[2020-03-29 17:35] dayhaysoos commented on #4
Totally agree, I really appreciate your help!

[2020-03-30 19:01] dayhaysoos commented on #4
@all-contributors please add @ChrisBrownie55 for test

[2020-03-31 17:24] #21 closed

[2020-04-02 02:31] dayhaysoos opened #23 "Server config support (Session Id)"
Feature: Supporting Session Ids  with `redirectToCheckout`

@jlengstorf proposed the idea of having a "serverConfig" option that would handle items like sessionId (optional)

Are there other things in serverConfig besides Stripe Session Id that we should consider?

[2020-04-02 02:35] dayhaysoos commented on #2
Started this

[2020-04-04 11:56] doingandlearning opened #24 "Shopping Cart Display Panel doesn't restore cart contents."
<img width="356" alt="Screenshot 2020-04-04 at 12 52 38" src="https://user-images.githubusercontent.com/8320213/78450020-738a9500-7673-11ea-824e-d1c968b24ec4.png">

**What I did**
Using the example, I added items to the cart, refreshed page and added more items to the cart.

**What I expected**
For the cart contents to be remembered between refreshes.

**What happened?**
The quantity was retrieved

[2020-04-04 11:58] doingandlearning opened #25 "The removeCartItem isn't working in the example project"
**What I did?**
Added items to the cart and then pressed the `-` button.

**What did I expect?**
For the quantity to reduce by one.

**What actually happened?**
The quantity didn't change.

[2020-04-04 12:41] doingandlearning opened #26 "The addItem function doubles the price while increasing the quantity by 1."
**What I did?**
With the example app, I added items to the card and pressed the `+` button.

**What did I expect?**
For the quantity to increase by one and the total price to increase by the unit price.

**What actually happened?**
The quantity increased by one and the price doubled.

[2020-04-04 17:58] doingandlearning commented on #26
This is caused because `price` is being used to display both the current value of the products in the basket of this SKU and the cost of a single item.

<img width="324" alt="Screenshot 2020-04-04 at 18 53 26" src="https://user-images.githubusercontent.com/8320213/78457906-92a21a80-76a5-11ea-9b1b-77af28d37788.png">

So, here the price would be $36.00 even though a single item has a price of $4.00.

[2020-04-04 21:39] #25 closed

[2020-04-04 21:45] dayhaysoos commented on #26
@doingandlearning  I think I'll go with the second approach! Going to take a stab at it today

[2020-04-04 21:51] dayhaysoos commented on #24
Yeah, I think one of the biggest lifts on this project will be how we handle #1

I think if we can make the reducer state solid enough perhaps it can be a matter of making sure it's reflected in local storage. Still gotta figure out how we handle this

[2020-04-04 22:13] dayhaysoos commented on #26
oh wait I just realized you assigned this to yourself! My bad

[2020-04-04 22:28] dayhaysoos commented on #4
@all-contributors please add @ChrisBrownie55 for test

[2020-04-04 22:28] dayhaysoos commented on #4
@all-contributors please add @ChrisBrownie55 for code

[2020-04-04 22:29] dayhaysoos commented on #4
@all-contributors please add @dayhaysoos for test

[2020-04-04 22:29] dayhaysoos commented on #4
@all-contributors please add @dayhaysoos for code

[2020-04-04 22:29] dayhaysoos commented on #4
@all-contributors please add @doingandlearning for code

[2020-04-04 22:36] dayhaysoos commented on #17
@all-contributors please add @dayhaysoos for code

[2020-04-04 22:36] dayhaysoos commented on #17
@all-contributors please add @dayhaysoos for test

[2020-04-04 22:38] dayhaysoos commented on #17
Resolved by #27

[2020-04-04 22:38] #17 closed

[2020-04-05 00:36] dayhaysoos opened #33 "Session Creation (Serverless)"
## The Problem
Right now, the library assumes that you have a bunch of Stripe products already created via Stripe's Dashboard. In the example, we use already made sku IDs that are from my test account. We need a way to allow those who don't have products already made to create session IDs for Stripe.

https://stripe.com/docs/api/checkout/sessions/object

## The Approach

This needs a server, so we

[2020-04-05 03:14] dayhaysoos opened #34 "Deploying the example site"
I just spent a LOT of time trying to figure out how to deploy this but also keep the dev experience friendly.

I think the answer will be setting up a Yarn Workspace. If anyone has any ideas on a convenient way to host the example feel free to chime in.

What I plan on doing is making a workspace that will help us to continue using the local package that is `use-stripe-cart` while we work on it bu

[2020-04-06 13:07] #26 closed

[2020-04-07 01:21] ChrisBrownie55 commented on #34
An easy way to host the example might be to use codesandbox.io as it's easy to make changes to and make a copy and edit for people who want to try out use-stripe-cart. You can link a CodeSandbox page to a GitHub repo so that when you update the repo the sandbox updates. 👍

As for deploying the package, I would suggest using a branch specifically for deployment. You can also do releases on that bra

[2020-04-07 01:27] dayhaysoos commented on #34
@ChrisBrownie55
oh wow! I love all of that.

So maybe I'll make a release branch and work on a code sandbox from there. Does that make sense?

I haven't made a github action yet, I'll look into that as well

[2020-04-08 14:28] dayhaysoos commented on #34
I'm actually going to launch on netlify as well just to make sure we have the ability to support Serverless #33

[2020-04-10 18:27] dayhaysoos opened #38 "Development experience"
So we finally have an example site going!

https://use-stripe-cart.netlify.com/

There's one issue, if we want to work directly on the library and see the changes on the example site, we'd have to change the path for `use-stripe-cart` in `example/package.json` to go back to "link:.."

This isn't really convenient, not sure how to approach this. This is why I wanted to set up yarn work space to man

[2020-04-12 01:03] #34 closed

[2020-04-12 01:04] #15 closed

[2020-04-12 01:04] #11 closed

[2020-04-12 01:05] dayhaysoos commented on #3
@Developerayo hey, hope all is well! I'm thinking of creating a separate repo to make a docs site with Gatsby or something. You cool with that?

[2020-04-12 01:05] #2 closed

[2020-04-12 01:21] dayhaysoos opened #40 "Create JSON file for product data."
The real reason we need this is to import it on the netlify function instead of having it exist on the client side, for validation

[2020-04-12 01:38] Developerayo commented on #3
Why not have it on a website branch in this repo and deploy that branch? @dayhaysoos

[2020-04-12 01:52] dayhaysoos commented on #3
@Developerayo that works for me! So here will be my next steps:

-Create a branch called "documentation"
-create a new folder and start a gatsby project in there
-Configure netlify to deploy that branch every time we merge master into documentation

Does this sound like how it should work?

[2020-04-12 02:12] Developerayo commented on #3
Why would we be merging master into documentation?

###### "Dropped you a message on slack :)"

[2020-04-12 03:36] #3 closed

[2020-04-12 03:41] Developerayo opened #44 "Improve design for demo/example site"

[2020-04-12 10:44] dayhaysoos commented on #1
@ChrisBrownie55 right, this is why I wanted to set up yarn workspaces instead for this project #38  Workspaces handles this pretty well.

I'm going to try yarn link for now and perhaps after this PR I'll look into configuring the workspace

[2020-04-12 11:38] #1 closed

[2020-04-12 14:23] ChrisBrownie55 commented on #44
I think it would be an improvement if we replaced the images in the example with ones of bananas and tangerines. I think these Unsplash images wouldn't look too bad:

Bananas: https://unsplash.com/photos/qvztwCkiXbc
Tangerines: https://unsplash.com/photos/uiPaZkzjv64

We should also probably provide attribution if we do use these images. I think having the images link back to the creator wouldn't

[2020-04-12 14:58] ChrisBrownie55 commented on #44
I might also suggest using [TailwindCSS](https://tailwindcss.com/) for improving the look and feel of the example site. It makes quick work of the designing process. Might take a stab at some of the design stuff myself if I have the time.

[2020-04-12 15:30] ChrisBrownie55 commented on #4
Is this ready to be closed or should we open up a new testing issue that includes the relevant sections of code that need to be tested now?

[2020-04-12 15:34] ChrisBrownie55 commented on #3
So are we going to have a documentation site essentially? If so, I believe we still need the base documentation in the README for people just looking at this package on NPM or here. We can, of course, provide a link to the full documentation site in the README as well.

I might take a look at updating and improving the README for now as it seems to be missing a few things.

[2020-04-12 17:04] Developerayo commented on #44
Yes! great images, those can definitely be used,
Would you like to help get it started with tailwindcss?, I'm not so good with it, but it's an awesome tool, I write a lot of regular css

[2020-04-12 20:10] dayhaysoos commented on #4
@ChrisBrownie55 I think this could be closed, I think we have full test coverage, yeah? We might as well just include tests as part of feature releases. Good work everyone!!!!

[2020-04-12 20:10] #4 closed

[2020-04-13 01:19] ChrisBrownie55 opened #45 "Data generated in useStripeCart() should be memoized"
If the data generated inside the function body of `useStripeCart()` isn't memoized, whenever a developer utilizes one of the generated pieces of data (i.e. `cartDetails`, `totalPrice`), any re-render caused in the `<CartProvider>` causes entirely new data and methods to be generated when nothing has changed.

[2020-04-13 23:17] dayhaysoos commented on #45
@ChrisBrownie55 hm? I thought you did this already?

[2020-04-14 00:53] ChrisBrownie55 commented on #45
@dayhaysoos I only memoized the context value for the `<CartProvider>`. Perhaps we should move all the values created in `useStripeCart()` to the context value and then only create methods/`useCallback`s inside of `useStripeCart()`

[2020-04-14 02:19] ChrisBrownie55 commented on #45
I'm not 100% sure how it affects performance, I would have to have an example with the most recent code and an altered version to compare the effects of memoizing things like `cartDetails` and such. I think it's just that every time `useStripeCart()` is called, each value (arrays and such) that are generated in there are no longer the same as before as there's no memoization.

[2020-04-14 18:34] dayhaysoos commented on #45
@ChrisBrownie55 oohh I get the problem now. This would require quite a bit of restructuring, yeah? We need to better examine the initial values and how things will flow. Do you have a branch for the performance checks?

[2020-04-14 18:36] dayhaysoos opened #46 "Preparing data for Session Creation"
This is related to #33

For this to work, we need the data in cartItems to be formatted like this:

https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session-line_items

Or at least have those values available. Going to make a branch for this soon

[2020-04-14 21:21] ChrisBrownie55 commented on #45
Not currently. And I don't think it would take too much restructuring, just mostly moving the lines upward. But I'm not 100% on whether or not memoization would actually reduce re-rendering, all I know is that I was looking at the example we currently have up on CodeSandbox and I opened up the React DevTools and turned on the setting that makes components that re-render flash and when you add an i

[2020-04-14 22:22] dayhaysoos commented on #45
@ChrisBrownie55 If there are issues with rerendering, I think we could prevent rerenders using the useEffect hook, yeah?

If I can finish up this Netlify work I'm doing soon I'd like to take a stab at it if I'm ready before you are

[2020-04-18 22:28] dayhaysoos opened #48 "reduceItemByOne doesn't seem to cause rerender when the button is clicked"
What I expect:

When there are cartItems in the sku, I am expecting that I can click the `-` button inside the Cart Display are to decrease the amount of items by 1. For some reason, nothing is decreased, however, when I click on the + sign to add, the amount of items that should have decreased seems to rectify itself.

Very strange, would love help with this one @doingandlearning @ChrisBrownie55.

[2020-04-18 22:50] ChrisBrownie55 commented on #48
I noticed this when I was testing the Netlify Dev setup. I think it has to do with the use of `Array#splice` which modified the array in-place.

Right now the `cartItems` are memoized so when an item is reduced by one, the memoized version of `cartItems` isn't updated until some other non-mutable action occurs to `cartItems`

[2020-04-19 17:56] ChrisBrownie55 opened #50 "Are deleteItem and removeCartItem the same thing?"
I'm currently working on updating the README with comprehensive explanations on how to use everything and I noticed that `deleteItem` and `removeCartItem` both seem to simply remove an item from `cartItems`.

If they are the same, should we remove `deleteItem`?

[2020-04-19 19:20] dayhaysoos commented on #50
@ChrisBrownie55 Yes, I think they are the same. I believe we should keep removeCartItem as it's a little more specific. If I remember correctly, this is what we use when the user wants to remove the entire entry from the cart or when they decrease the items for that sku until it his 0.

Do you think that name will suffice for communicating that?

[2020-04-19 19:36] ChrisBrownie55 commented on #50
Yeah that should be good. I'll update that and the tests that use `deleteItem`

[2020-04-19 20:18] #48 closed

[2020-04-19 20:31] #50 closed

[2020-04-20 20:43] #46 closed

[2020-04-20 20:43] #40 closed

[2020-04-20 20:44] #38 closed

[2020-04-20 20:44] #24 closed

[2020-04-20 20:44] #5 closed

[2020-04-20 20:44] #23 closed

[2020-04-20 20:44] #33 closed

[2020-04-20 20:45] dayhaysoos opened #52 "Figure out how to approaching writing tests for rerendering"

[2020-04-20 22:08] dayhaysoos opened #53 "Create Docs page with Gatsby"
Launch docs site using:

https://rocketdocs.netlify.com/

Still need to figure out the implementation details. I'm thinking this could be part of master and use a branch to deploy it. Would like thoughts on this

[2020-04-21 01:14] dayhaysoos opened #54 "Feature: Debugging method to display cart data quickly"
Was thinking we can provide `CartDisplay` to the library, that way people won't have to build out a whole interface or log everything happening just to see if the lib is working. Similar to how formik has a component just for showing form state

[2020-04-21 11:20] mellson opened #55 "Does this work in Gatsby?"
Is this meant to work in Gatsby or only client side React?

I'm asking because I'm setting up my first Stripe integration and I'm trying to use this.
But I'm getting into some "fun" errors with Gatsby because of Async functions, TypeScript and the global, window, Stripe.

So I'm not sure if this is a battle I can win or I should give up 😊

[2020-04-21 12:28] dayhaysoos commented on #55
@mellson this definitely will work with Gatsby, in fact, 90% of the code written for this library was started on a Gatsby project.

I have a bunch of Stripe based Gatsby themes that I plan on upgrading with this library soon:

https://github.com/dayhaysoos/gatsby-theme-stripe

This library does account for window not being available. If you give me a week I think I could get a solid example runnin

[2020-04-21 17:27] mellson commented on #55
Thank you very much! I'll try to work through it then. Currently I have it working when running dev, but it fails at build time with: `TypeError: Invalid attempt to destructure non-iterable instance.`

It happens as soon as I add this `const { addItem } = useStripeCart()`

[2020-04-21 17:27] #55 closed

[2020-04-21 19:02] dayhaysoos opened #56 "Creating Examples"
I'd like to start off with two examples, one with Create React App (I already did this in the master branch) and one with Gatsby. I think I'm going to bake it into the actual documentation branch.

[2020-04-22 03:23] dayhaysoos opened #58 "Simplifying default values"
As discussed in #57

[2020-04-22 03:41] dayhaysoos opened #59 "Documentation feedback/best practices"
I've been straight up pushing directly to the `documentation` branch instead of submitting pull requests, will be submitting PRs from now on. Just wanted to put stuff on the board. Can we come up with a sort of standard for handling documentation?

Here's what we have on the site so far:

https://use-stripe-cart.netlify.app/usage/addItem()

Can I get some feedback on the example code being shown?

[2020-04-22 20:21] ChrisBrownie55 commented on #59
I'd say the best way to go about adding documentation is to give a complete description, more like a paragraph as opposed to a short "To do <action> use <method()>." Then, provide a few small examples without surrounding code (i.e. no imports or other components) just how to use it. And then when that's all done, I'd recommend adding in a full project example with a link to something like a CodeSa

[2020-04-22 20:42] ChrisBrownie55 commented on #54
That sounds like a good idea, I think something like `debugStripeCart()` would be a good idea:

[code]

And then to use this function it would look like:

[code]

We could also make it appear as more of a traditional component like `<DebugStripeCart />`, however, this works just as well and I believe indicates more of a debugging nature to the function rather than a normal component.

[2020-04-23 01:54] ChrisBrownie55 opened #61 "Refactor out cartItems (Discussion)"
## `increaseItemByOne` for the same reason we have `reduceItemByOne`

As the code currently stands, we have a `reduceItemByOne(sku)` that handles removing one item from the `cartItems` subsequently causing `cartDetails` to update. This makes decreasing the number of items in a cart very intuitive from a developer standpoint. By contrast, it's not very intuitive that you're supposed to re-use `addI

[2020-04-23 12:09] dayhaysoos commented on #59
@ChrisBrownie55 okay, completely agree. I'll start submitting PRs for documentation for your feedback

[2020-04-23 12:15] dayhaysoos opened #63 "Rebrand of this library"
I had a conversation with a Stripe developer advocate. While we don't HAVE to change the name, I was advised that it might be better, in the long run, to change the name to get away from potential branding issues.

instead of `use-stripe-cart`

Going to name it `use-shopping-cart`

I secured the name right here:

https://www.npmjs.com/package/use-shopping-cart

Would love your input @ChrisBrownie5

[2020-04-23 18:00] ChrisBrownie55 commented on #63
I like `use-shopping-cart`, would we still be able to export `useStripeCart`? This also opens up the opportunity to provide other shopping cart experiences if that's desirable.

Another option might be to use `@dayhaysoos/use-stripe-cart` if you want.

Also, for `use-shopping-cart` will we still be branding it as:

### `use-shopping-cart`

[2020-04-23 18:06] dayhaysoos commented on #63
Yeah, it's okay to say things are FOR Stripe or talk about Stripe, it's just having stripe directly in the name can cause friction. I proposed `@dayhaysoos/use-stripe-cart` and I don't think it makes that much of a difference. Once we do this name change, Stripe will be able to better support this lib and promote our work :O

I would rather remove `useStripeCart` and replace that with `useShopping

[2020-04-23 19:05] ChrisBrownie55 commented on #63
If we're going to create `useShoppingCart` instead of `useStripeCart` should we handle different shopping cart experiences (PayPal would be a good one like you said) with underlying hooks that are exposed through `useShoppingCart`.

ForExample:

[code]

[2020-04-23 21:54] dayhaysoos commented on #63
@ChrisBrownie55 I love it!

Can I make another issue/discussion for this? I think that this could be categorized as a github project.

How exciting!

[2020-04-23 22:31] ChrisBrownie55 commented on #63
Sounds good 🙂

[2020-04-23 23:29] dayhaysoos commented on #61
@ChrisBrownie55 I think this is a great idea, we should eventually have an `addItems` as well for inputs that take a number so a user can straight up type what they want. I think this is what `handleNumberChange` was for (can't remember exactly what the function was).

You got any ideas for a better name?

[2020-04-24 13:39] dayhaysoos commented on #54
Great, I’ll leave this then until someone decides to send a pr for it (or I make it myself)

[2020-04-24 13:43] dayhaysoos opened #65 "Function to clear local storage after purchase"
Just the function itself, we let the developer determine how and when to use it.

[2020-04-24 18:49] dayhaysoos commented on #63
Just renamed! @ChrisBrownie55 @doingandlearning @mellson @Developerayo

I honestly should have made a PR, my bad, but be sure to run:

`git remote set-url origin https://github.com/dayhaysoos/use-shopping-cart`

[2020-04-25 23:33] #63 closed

[2020-04-27 00:58] dayhaysoos opened #69 "Serverless support was never a thing (lol)"
redirectToCheckout never took in the sessionID, it only referred to the products from my stripe API keys.

I'm going to add a bool for configuring for sessiondIds to be passed to CartProvider.

maybe uuhh..

`withSessionId: true`

True will be default since it's the preferred way to work with it. redirectoToCheckout will check for this value, if true, wait for a sessionId to get passed to it.

[2020-04-27 01:06] dayhaysoos commented on #69
Actually, sessionId is a string, so I'll check if the string is passed to redirectToCheckout. If not passed, it will assume it should use checkout on the product items.

[2020-04-27 13:30] dayhaysoos opened #71 "Feature: Event Listeners"
Would love to get y'all feedback on what we think should go into phase 2 of this lib. In my opinion, I think the best direction to go would be adding event handling (or life cycle methods? Not sure what to call it)

For example:

`onAddToCart`

A function that fires when an item is added to the cart. This would allow devs with databases to use this space to store/update data on their users (or any

[2020-04-27 19:58] dayhaysoos opened #72 "I started a Discord server"
I would love to talk to y'all! And have a space for people to provide feedback/ask for help:

https://discord.gg/TNQfW4W

Will remove this in a few days

[2020-04-27 22:27] ChrisBrownie55 commented on #65
I think this is closed now, `clearCart()` clears the cart which updates LocalStorage to an empty cart 👍

[2020-04-27 22:27] #65 closed

[2020-04-27 22:27] #69 closed

[2020-04-28 06:04] thorsten-stripe commented on #61
In terms of naming, I think `incrementItem` and `decrementItem` is better as reduce sounds very similar to reducer.

By default `incrementItem` increases the quantity by one while `decrementItem` decreases the quantity by one. We could allow an optional count input for both functions which then adds/subtracts the count to the quantity. Wdyt

[code]

[2020-04-28 12:40] grallc opened #75 "Provide Types Definition"
Hey there ! :)

It would be nice to provide types definition, to fix this error :

```Could not find a declaration file for module "use-shopping-cart". '/Users/corentin/coding/cityfox/app/node_modules/use-shopping-cart/dist/index.js' implicitly has an 'any' type. ```
```Try 'npm install @types/use-shopping-cart' if it exists or add a new declaration (.d.ts) file containing 'declare module 'use-sho

[2020-04-28 14:11] dayhaysoos commented on #75
@grallc I'm down to add type definitions! Tbh I have no idea how to do anything with TS so I'm gonna have to do some digging 🙃

Gonna leave this issue open

[2020-04-28 15:04] dayhaysoos commented on #61
Totally on board with all of this feedback @thorsten-stripe, will open up an issue for this

[2020-04-28 16:39] molebox commented on #75
Yo! Like i said in corgi chat, i can take a look at this if you like. Will create branch and have a play.

[2020-04-28 17:15] dayhaysoos commented on #75
@molebox would love that, lemme know how I can help!

[2020-04-28 17:16] #58 closed

[2020-04-28 17:16] #53 closed

[2020-04-28 17:17] dayhaysoos commented on #56
I think I want to make an examples section. If anyone creates an examples/demos with this, please let me know here and I can add to the docs

[2020-04-28 17:18] #59 closed

[2020-04-28 23:36] ChrisBrownie55 commented on #61
@thorsten-stripe is

[code]

Also an acceptable format. I find that it's easier when you only have two arguments to just keep them separate because their names and types show up in most editors as soon as you begin using the function making dev much easier.

Also I believe it reads much better when analyzing the source code:

Whereas objects don't require a specific order so you might end up with:

[2020-04-29 01:27] thorsten-stripe commented on #61
Yes, that's a good call, thanks @ChrisBrownie55  👍

[2020-04-29 23:49] ChrisBrownie55 commented on #71
As of my conversation with @dayhaysoos,

Event listeners should be handled with `on()` and `off()` methods on the cart. We can also call them `addEventListener` and `removeEventListener` if someone has an argument for that.

Example of how to use said event listeners:

[code]

We should probably determine which events we should have for the cart now. @dayhaysoos @doingandlearning @thorsten-stripe

[2020-04-30 15:05] grallc opened #84 "Incorrect decimal prices"
Whenever we use decimal prices, the formatting is not correctly done.
Demo : https://codesandbox.io/s/peaceful-stallman-0hfor?file=/src/index.js

I'll submit a pull request soon

[2020-04-30 16:23] grallc commented on #84
Sorry.
I just noticed through the tests that I just had to multiply the decimal values by 100 to handle them.

Maybe write it somewhere in the doc ?

[2020-04-30 16:23] #84 closed

[2020-05-01 20:36] ChrisBrownie55 opened #90 "Write tests to make sure that no errors occur in server-side environment"
We recently ran into an error that dealt with accessing `navigator.language` without ensuring we were in a client environment (the browser, or a place with access to a window). In light of this, we should add tests that ensure this doesn't happen again.

## What needs to be done

Essentially, we just need to call every method and try to cause every edge case with the `Window` object disabled.

###

[2020-05-02 03:23] #72 closed

[2020-05-02 10:01] thorsten-stripe opened #91 "Make url props optional"
![image](https://user-images.githubusercontent.com/23213994/80861076-d4bb7d80-8c9e-11ea-8ba7-06dd1040cd55.png)

When we use server-side checkout we don't need to provide the success and cancel urls to the cartprovider.

We also should update the docs to reflect the difference of client-side and server-side checkout.

[2020-05-02 11:51] grallc opened #93 "Symlinks: "File name too long" on MacOS"
Hello !
Whenever I try to clone the last version of the repo,
I got an error :
[code]

Therefore, when it's cloned :
[code]

[2020-05-02 11:58] grallc opened #94 "Optional quantity in addItem()"
Hello!
It would be useful to add an optional `quantity` parameter for addItem() :
In my case, I fetch the products from the DB then add them in the cart using addItem().
However, the quantity is saved in my DB, I therefore need to add multiple times the same product in the cart.

Instead of doing a loop to do so, I think that `addItem(product, quantity?)` is better.
`quantity` would be an optional

[2020-05-02 13:22] ChrisBrownie55 commented on #93
@grallc This seems to be an issue caused by creating a real symlink and pushing it to GitHub and git converted it into a fake symlink but doesn't change the permissions to not be a real symlink I believe.

What system are you running on?

[2020-05-02 13:27] grallc commented on #93
OS X - 10.15.4 (19E287)

[2020-05-02 13:52] dayhaysoos commented on #93
@grallc I had the same issue! I fixed it following this:

https://github.com/Urigo/IonicCLI-Meteor-WhatsApp/issues/4#issuecomment-382957742

No idea what it does but it did the job. Lemme know if that worked

[2020-05-02 13:59] dayhaysoos commented on #94
I actually love this!

@ChrisBrownie55 opened up an issue where we talk about it here #61

We didn't think about passing an optional parameter, I'm on board with it. Would love to know what Chris thinks

[2020-05-02 14:15] ChrisBrownie55 commented on #94
We can do optional count for `addItem()` in that refactor, I think it would be a fine idea. It would also be beneficial for UIs that let you select the quantity you want of an item before adding to cart.

We could add it in now, before the refactor, but it would essentially just end up being a for-loop that repeatedly dispatches the "add-item" event. I'll let you guys decide if you want it now (ea

[2020-05-02 14:20] dayhaysoos commented on #94
@ChrisBrownie55 let's wait for your refactor, especially since some function names will be changing.

[2020-05-02 14:46] ChrisBrownie55 commented on #91
How would you recommend updating the docs to show this difference? Would it be something that we should specify in the `<CartProvider>` page and/or the getting started page?

We could also create a whole page/tutorial just for using this library server-side?

[2020-05-02 16:48] dayhaysoos commented on #91
Didn't know that. It IS required for client-side. How could we go about making sure it's required for client but not for server?

[2020-05-02 17:11] ChrisBrownie55 commented on #91
I think we'd only be able to warn when we get to `cart.redirectToCheckout()` as the only time we know whether or not they already created a session is when they pass in a `sessionId`.

[2020-05-02 17:13] thorsten-stripe commented on #91
Also, we should check that the cart has items in our `redirectToCheckout` handler and throw and error if it is being called with an empty cart

[2020-05-02 17:29] dayhaysoos commented on #91
@thorsten-stripe I actually think this should be a bigger issue opened, I feel like there are a handful of places we could be throwing errors to teach people how they should be using the lib.  What do y'all think?

[2020-05-02 17:38] ChrisBrownie55 commented on #91
I think that's a good idea. However, should we be throwing errors or returning errors? I feel like having developers use try-catches in production isn't the best move for non-fatal issues

Something like:

[code]

[2020-05-02 17:41] ChrisBrownie55 commented on #91
Actually idk, throwing the error makes sense bc it'll bring it up to their attention in a dev environment whereas here, the error kinda serves no purpose. Idk, what do y'all think?

[2020-05-08 21:04] #75 closed

[2020-05-09 20:42] andria-dev opened #102 "TypeScript example"
In need of an example of using this package built with TypeScript to be able to ensure that future versions stay TypeScript compatible.

Preferably to be hosted in this monorepo, however, could also be a link to CodeSandbox or Glitch.

[2020-05-13 01:17] #61 closed

[2020-05-13 01:18] #94 closed

[2020-05-13 01:18] #91 closed

[2020-05-13 01:21] ChrisBrownie55 commented on #56
I think we should add a section to the README at the end with a link to a EXAMPLES-CONTRIBUTING.md that explains how to set up an example and the format for submitting the PR for it.

[2020-05-13 01:21] ChrisBrownie55 commented on #45
This seems like it could be an over-optimization, closing for now

[2020-05-13 01:21] #45 closed

[2020-05-13 01:22] #52 closed

[2020-05-13 01:25] ChrisBrownie55 commented on #54
We could add this to the 2.1.0 roadmap

[2020-05-13 01:29] ChrisBrownie55 commented on #54
I'm thinking the name `debug()` would be better as it's already a part of the `cart`

[code]

[2020-05-13 17:34] ChrisBrownie55 commented on #91
With typescript types, it's currently required in client mode and not required in session mode. We could add error throwing in in a future release though

[2020-05-15 20:34] dayhaysoos commented on #54
oh I didn't see this! Sounds good to me, we should prob have a little chat on discord to get the full scope of `2.1.0`

[2020-05-16 19:42] dayhaysoos opened #104 "Extra option for redirectToCheckout"
I've come across someone who doesn't actually need the shopping cart, but needs the checkout from a single click of an item.

I propose that we give an option to pass a sku object to redirect to checkout.

If the sku property is passed, it immediately calls Stripe's redirect to checkout with that one product formatted the way it needs to be in `line_items`

What do you think @ChrisBrownie55 ?

I a

[2020-05-16 19:51] dayhaysoos commented on #104
OR!

Do we think this should be a separate function specifically for instant checkout on click? Don't want to make redirectToCheckout too weird, ya know?

[2020-05-16 22:38] ChrisBrownie55 commented on #104
I think this should be a separate function as it should just be a call to `addItem` and then a call to `redirectToCheckout`

[2020-05-16 22:44] dayhaysoos commented on #104
@ChrisBrownie55 my only concern with this is that addCart is tied to local storage and would probably persist even after checkout. I'm thinking of making it a separate function that totally operates without the local storage functions under the hood.

[2020-05-22 23:17] dayhaysoos opened #108 "Phase 2 - Discussion"
So far things have been great! What I believe should be the goal of Phase 2 is to make this library better support backend use cases of shopping cart libraries.

 ### Event trigger functions:

This means stuff like `on` and `off` methods for almost every interaction with the cart:

- `onAddItem()`
- `onIncrementItem()`
- `onDecrementItem()`
- `onSetItemQuantity()`
- `onRemoveItem()`
- `onClearCart

[2020-05-23 17:11] ChrisBrownie55 commented on #108
@dayhaysoos Are we still going for the multiple on/off methods, I thought it would be easier to do `on('event-name', eventHandler)` and `off('event-name', eventHandler)` style.

As for the different events, I think we should simplify them down to the following:

[code]

And as for the `redirectToCheckout` event, I don't think that would be useful as nothing will happen after it's called. I mean, w

[2020-05-23 18:11] ChrisBrownie55 commented on #108
We might also want a way to load in a cart from a database, perhaps a function that takes in the 3 core values that make up the cart: `cartDetails`, `cartCount`, `totalPrice`. That or we could just take in the `cartDetails` and rebuild the other two values.

Possible API surface:

[code]

Here is an example (may be a bit convoluted):

[code]

[2020-05-23 18:28] dayhaysoos commented on #108
I really like your high level/simplified approach for the cart interactions. I'd be curious if someone who is using a back end for their e-commerce site would appreciate that approach rather than having a call for each interaction, I would like to do what you proposed instead.

As far as redirect to checkout, the only thing I can think of right now is the fact that we were sending people out to a

[2020-05-28 22:16] ChrisBrownie55 commented on #108
Thinking about renaming `redirectToCheckout` to just `checkout`. We would of course probably keep `redirectToCheckout` name as well just for compatibility.

Example:

[code]

[2020-05-28 22:17] ChrisBrownie55 commented on #93
No longer using symlinks

[2020-05-28 22:19] dayhaysoos commented on #108
This makes total sense. I think keeping redirectToCheckout is a great call, too.

[2020-05-28 22:21] dayhaysoos commented on #108
btw, haven't heard from Thor on this yet, which is fine. I think I can start curating the Phase 2 project!

[2020-05-28 23:25] #71 closed

[2020-05-28 23:50] dayhaysoos opened #110 "Create a general `on` method for handling cart interactions before they happen."
We will be passing the event handler methods like this:

`on('event-name', eventHandler)`

[2020-05-28 23:52] dayhaysoos opened #111 "Create general `off` method for handling cart interactions after they happen."
We will be passing the event handler methods like this:

off('event-name', eventHandler)

[2020-05-28 23:53] dayhaysoos opened #112 "new-item event method."
New item will be triggered when a new item is added to the cart.

Would be triggered after `addToCart()`

[2020-05-29 00:57] thorsten-stripe commented on #108
All of this sounds good to me.

In terms of events, not sure I'd need such granular events, really what I want to do is
- any time the cartDetails change, write the whole cart state to my DB if the user is logged in
- when a logged in user returns load their unfinished CartSession from the DB and rehydrate it to my CartProvider
- when my customer checks out, check inventory server-side, create a n

[2020-06-01 18:14] horacioh commented on #102
What type of examples do you think could be useful?

[2020-06-01 20:09] ChrisBrownie55 commented on #102
I think a simple one of this project in client-side mode would be useful. Basically just any kind of small example utilizing this hook in TypeScript would be useful (kind of using this as a way to ensure that this project's `.d.ts` file works correctly with TypeScript).

[2020-06-07 23:03] dayhaysoos commented on #108
@thorsten-stripe some questions around this:

`when a logged in user`

Do you think we should be concerned with whether the user is authenticated or not? Like, having a required param for `isAuth` and make it so that the function only fires when `true` is passed for that?

It makes sense to me because there are experiences where you can check out whether you're logged in or not. If a user isn't lo

[2020-06-08 04:10] thorsten-stripe commented on #108
I don't think this library should be concerned with any of this. Technically we wouldn't even need the events, right, because you could monitor the cartDetails in a `useEffect` and then trigger a DB request in there:

[code]

[2020-06-09 18:42] #104 closed

[2020-06-09 18:44] dayhaysoos commented on #90
@ChrisBrownie55 wasn't this kind of addressed? We have logic that checks if `isClient`, if not, it defaults to some values.

[2020-06-09 20:31] ChrisBrownie55 commented on #90
Yeah we addressed it in the libraries code but we don't have any tests to catch errors like that from being reintroduced

[2020-06-09 21:30] dayhaysoos opened #120 "Create an event listening function any time the cart changes"
Every single time the cart updates, we allow the user to pass their own function that would update their db.

To do this, we'll create a prop on `CartProvider` that would look like:

[code]

In this example, `sendCartDetailsToServer` will be the method the user passes to reflect the changes to their DB.

There needs to be some logic that checks if a function has been passed in via the `onUpdateCar

[2020-06-11 22:39] dayhaysoos opened #121 "loadCart function for adding pre-loading cart data to the cart object"

[2020-06-11 22:46] dayhaysoos commented on #108
Quick question @ChrisBrownie55 as far as the `loadCart` feature goes (#121)

I kinda think it can be handled two ways:

1. Literally just take pre-existing cart object and apply it to the current cart object.

2. Running the same way addItem runs, but for multiple items.

The first one would be ideal if you literally wanted to copy external cart data into the current cart.

The second one is ideal

[2020-06-11 23:16] ChrisBrownie55 commented on #108
Best way would probably be to add an event to the reducer that takes in cartDetails and generates the other values.

[code]

[2020-06-11 23:26] dayhaysoos commented on #108
Makes sense, do we want to make it so that it overwrites the previous state of the cart?

[2020-06-12 00:30] dayhaysoos commented on #108
I'm just thinking through some edge cases:

I think it'd be valuable if loadCart not just loaded the state of a cart, but also added on to the cart if the user already had items there.

[2020-06-12 03:37] thorsten-stripe commented on #108
How about `loadCart(cartDetails, { merge: true })`

[2020-06-12 03:56] dayhaysoos commented on #108
I love that! You're really good at simplifying everything 🎉

Let's see what Chris thinks

[2020-06-12 04:12] thorsten-stripe commented on #108
I wish I could take credit for this, but I'm just stealing validated concepts from others: https://firebase.google.com/docs/firestore/manage-data/add-data#set_a_document 😉  I'll cite my sources going forward 👍

[2020-06-12 10:22] dayhaysoos commented on #108
It's okay, I still think you're smart 😛

[2020-06-12 13:42] thorsten-stripe commented on #102
fyi, I'm currently working on adding a TypeScript shopping cart implementation here: https://github.com/vercel/next.js/tree/canary/examples/with-stripe-typescript

[2020-06-12 15:06] thorsten-stripe opened #122 "Usage of cartCount causes an SSR mismatch error in Next.js"
I'm not sure why this is happening:
![image](https://user-images.githubusercontent.com/23213994/84516376-4e17a880-ad00-11ea-97a8-8e87ab51ce94.png)

`cartCount` renders correctly in the `<p>` tag but for setting the disabled value on the button it doesn't: https://github.com/thorsten-stripe/next.js/blob/thor/stripe/add-use-shopping-cart-example/examples/with-stripe-typescript/components/CartSummary

[2020-06-12 15:10] thorsten-stripe commented on #122
This sounds similar: https://dev.to/jaklaudiusz/next-js-persistent-state-with-react-hooks-and-localstorage-how-to-make-it-work-3al6 but not sure how we can bake that into the lib.

[2020-06-12 15:38] thorsten-stripe commented on #102
I’m working on it here: https://github.com/thorsten-stripe/next.js/tree/thor/stripe/add-use-shopping-cart-example/examples/with-stripe-typescript
Found an issue that I’ll try to investigate tmr: https://github.com/dayhaysoos/use-shopping-cart/issues/122

[2020-06-12 19:45] sa-webb opened #124 "redirectToCheckout not working with version 2.0.0 from 1.1.1"
Hello, I upgraded my version from 1.1.1 and now my redirectToCheckout() function is not working. Any tips?

Thanks

[2020-06-12 21:12] #124 closed

[2020-06-13 13:53] thorsten-stripe commented on #122
I did some digging and traced it down to the `react-storage-hooks` module: https://github.com/soyguijarro/react-storage-hooks/issues/17 . Maybe they have seen that before and have an idea.

[2020-06-13 13:57] thorsten-stripe commented on #122
There is a workaround: https://github.com/thorsten-stripe/next.js/commit/64ce389ed776e935584d35f9859a50f0f6b2c745

However the usage of `suppressHydrationWarning` is discouraged: https://reactjs.org/docs/dom-elements.html#suppresshydrationwarning

[2020-06-14 19:12] ChrisBrownie55 commented on #122
So @thorsten-stripe the official way to fix it would be to modify `react-storage-hooks` to not load from LocalStorage on the initial client-side render, but instead right afterward right?

[2020-06-14 19:13] ChrisBrownie55 commented on #122
Oh nvm looks like you're really on top of all this and you've already put out a [PR](https://github.com/soyguijarro/react-storage-hooks/pull/18) for this. Much appreciated.

[2020-06-15 02:52] thorsten-stripe opened #125 "Add changelog"
We should probably add a top-level `CHANGELOG.md` file to track changes across versions.

And maybe we should expand the `CONTRIBUTING.md` file with instructions of how to release a new version?

cc @dayhaysoos @ChrisBrownie55 wdyt?

[2020-06-15 04:11] dayhaysoos commented on #125
I love the idea for a Change Log (I was just having trouble figuring out what had changed myself)

Definitely need to document contributing more clearly, too

[2020-06-15 09:46] thorsten-stripe commented on #122
@ChrisBrownie55 Yes, I believe that is the only way to avoid this discrepancy, however it's not great, because you have an initial render with the default state and then an immediate re-render with the localStorage state, which can result in a flicker when the page loads.

One potential solution would be to initially return null until we had the chance to check the localStorage, that way you can e

[2020-06-15 22:41] ChrisBrownie55 commented on #125
Great idea! Very useful for both people maintaining and developers using this package 👍

[2020-06-16 17:05] mbifulco commented on #125
Hello! I was just setting up `CONTRIBUTING.md` for another project I'm working on.  GitHub offers some great docs and samples on it here - https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors#examples-of-contribution-guidelines

[2020-06-17 01:16] ChrisBrownie55 commented on #110
Closing as this was replaced with #120

[2020-06-17 01:16] #110 closed

[2020-06-17 01:16] ChrisBrownie55 commented on #111
Closed as replaced with #20

[2020-06-17 01:16] #111 closed

[2020-06-22 15:09] dayhaysoos commented on #122
@thorsten-stripe it looks like this has been fixed here:

https://github.com/soyguijarro/react-storage-hooks/issues/8

You think you can try testing the upgraded version of `react-storage-hooks` and see if the bug is gone?

[2020-06-24 13:56] thorsten-stripe commented on #122
Unfortunately it didn't fix the hydration warning issue, see https://github.com/soyguijarro/react-storage-hooks/pull/18#issuecomment-646296023

[2020-06-24 21:46] ChrisBrownie55 commented on #122
So what I'm seeing here is that we need to display the default (a.k.a. empty) values for data stored in local storage and provide a status indicator for the data as well.

I think this could look something like the following:

[code]

This would also make it so that when `isClient` is false it will always be `status: 'loading'`. Although, I don't think this accounts for `window.localStorage` being

[2020-06-25 15:10] stevenabadie opened #126 "Stripe API SKU object no longer available"
Hello! I've just started messing around with the Stripe Checkout API with Gatsbyjs and found that the most recent Stripe API no longer has the SKU object. It appears the Price object is now the suggested object to use.

I'm still getting familiar with the use-shopping-cart code but I'm guessing this has broken some of the functionality. I'll get more specification later today but wanted to start a

[2020-06-25 23:07] ChrisBrownie55 commented on #126
@stevenabadie I believe we have already seen and fixed this issue before via these lines of code:

https://github.com/dayhaysoos/use-shopping-cart/blob/bf69feadc0a29740f3813ff7cc13041e5ccebf97/use-shopping-cart/src/util.js#L49-L50

You can see here that when we are collecting the cart's data to send it off, the `sku` property is converted into the expected `price` property. With this, our library

[2020-06-26 03:05] stevenabadie commented on #126
@ChrisBrownie55 thank you for the response! It looks like I have it working now. Looking at the README for addItem, I assumed I needed a SKU id, which I don't have. Now I see I can use the Price id in place of it. Thanks for the help!

[2020-06-26 03:05] #126 closed

[2020-07-10 11:26] thorsten-stripe commented on #102
This has been shipped: https://github.com/vercel/next.js/tree/canary/examples/with-stripe-typescript

Should we include it in the docs/README somewhere?

[2020-07-22 04:00] maxcell opened #132 "Broken "Edit this page on GitHub" links"
It appears as though the functionality that pipes a user to the appropriate GitHub page is broken:

![image](https://user-images.githubusercontent.com/8431042/88131741-aa959f80-cbab-11ea-8c16-f34729ff7d49.png)

I believe the issue may be related to this <https://github.com/Rocketseat/gatsby-themes/issues/13>. Appears as though the fix is just bumping up to latest. I wasn't quite sure how to set ev

[2020-07-29 09:47] ralphilius commented on #108
Hello, do you have any plan to become platform-agnostic library?

[2020-07-29 13:34] dayhaysoos commented on #108
@ralphilius yes! It actually is ready right now to integrate with other platforms with the way we handle it in the reducer. We haven't decided which platform we're going to do next, though.

Anything you're interested in seeing?

[2020-07-29 13:56] ralphilius commented on #108
@dayhaysoos I'm interested in PayPal since it covers many countries that Stripe doesn't support yet.

[2020-07-29 14:16] dayhaysoos commented on #108
Nice, can you gimme a week or two to figure out when I'd be able to work on that? Or if you know the PayPal API, perhaps you can make a PR yourself?

[2020-08-01 10:41] ralphilius commented on #108
Yes. I would love to, but can you make any server APIs abstract so that new payment gateways can be implemented easier?
I'm thinking about below changes:

1.  Remove any codes that depends on `stripe` and `mode` props
2. Add `gateway` prop that consumes an object implementing `redirectToCheckout` and `checkoutSingleItem` methods?

Just a few thoughts, maybe we need to change a few more things. Wha

[2020-08-01 19:46] ChrisBrownie55 commented on #108
As the code is currently set up, there is an abstraction in place that should allow the implementation of other `redirectToCheckout` and `checkoutSingleItem` methods for other services

[2020-08-01 22:21] ChrisBrownie55 commented on #108
For reference, you can see #113 which explains `checkoutHandler` and what its purpose is

[2020-08-01 23:20] ChrisBrownie55 commented on #108
## Updating `getCheckoutData` to get your options for your service's API

https://github.com/dayhaysoos/use-shopping-cart/blob/199ca808a203ea9c976ab3500f65ccc4601e5c22/use-shopping-cart/src/util.js#L46

The idea behind this abstraction is that you can make a function in `util.js`'s `getCheckoutData` object that will take in the `cart` and produce most if not all of the options that the service, su

[2020-08-01 23:21] ChrisBrownie55 commented on #108
We might move that comment I made to a file, something like a `CONTRIBUTING_SERVICES.md`

[2020-08-10 01:35] #132 closed

[2020-08-17 00:52] kaihendry opened #147 "UMD CDN hosted build as to avoid complexity of building it"
hi, I'm looking to forego the complexity of building use-shopping-cart with https://gohugo.io/hugo-pipes/js/#readout

My aim is to get your software to bind to my Hugo static site project (will probably become a "Hugo theme"): https://github.com/kaihendry/shopfront as to provide a shopping cart / checkout functionality in a lightweight way.

Ideally I can reference a canonical stable version `http

[2020-08-25 21:36] ChrisBrownie55 commented on #147
@kaihendry May I ask why HTM isn't working for you?

[2020-09-08 03:43] dayhaysoos opened #149 "Cart Prefix with a namespace scope for managing different carts for platforms"
With Stripe Connect apps, it would be ideal to have a way to separate carts for shoppers based on which merchants they are purchasing from

[2020-09-09 14:56] #147 closed

[2020-09-23 22:03] dayhaysoos commented on #122
@thorsten-stripe was this taken care of? Do we need to update this lib?

[2020-09-23 22:05] dayhaysoos opened #150 "Add Timestamp when cart was created"
This would set us up for handling abandoned cart experiences.

When a cart is created or updated, there should always be a function that captures when it was updated and change the time stamp to reflect

[2020-09-23 22:19] dayhaysoos opened #151 "Docs: Undocumented APIs should be on docs site"
There are a list of APIs that are available but aren't documented properly on the docs site. I'm going to list them here.

This is the initial place to list all of the items that should be added, but there should be an issue opened for each one to detail what should be documented and how.

- [ ] shouldDisplayCart
- [ ] lastClicked
- [ ] storeLastClicked
- [ ] handleCartClick
- [ ] handleCartHover

[2020-09-25 14:45] dayhaysoos opened #152 "Added To Cart State"
We should have a state that allows us to temporarily show something like, "Added to your cart" for a few seconds. Not sure what I would name it, maybe hasInteractedWithCart where it's false by default. It will only display for a given number of seconds, and we can pass it a string of what it should say as well.

[2020-10-09 00:31] wingmatt opened #153 "Format for Recurring Prices"
Hi all,

Hope this is the right place to put this. Not sure if this is a request for documentation or a feature, but hopefully the former!

My use case: I want to be able to add a subscription product to my cart. Specifically, a Product object that has a single [recurring Price](https://stripe.com/docs/api/prices/create#create_price-recurring) associated with it. I'd like to be able to check out w

[2020-10-11 18:30] ChrisBrownie55 commented on #153
If you already know how to do this or something about it, could you provide an example of what this would look like?

Remember, the underlying API we pass everything to in this library is just Stripe so if the data just needs to be present on your Product object then it could be as simple as putting the interval value on your Product object.

As far as adding something to this library, I'm not cer

[2020-10-13 20:36] wingmatt commented on #153
That makes sense. I appreciate you taking the time to follow up on this and check some of my assumptions.

## Client Side

Based on some of my testing yesterday, the main blocker on the client side is the requirement of using a SKU to validate against an existing product/price combo. SKUs can only have one-time costs as far as I have found, and purchasing a SKU for a product with subscriptions doe

[2020-10-15 14:00] dayhaysoos commented on #153
@wingmatt would love to see whatever example you come up with. I want to expand on examples in this repo, might want to look into better ways to showcase in the future.

[2020-10-21 16:00] wingmatt commented on #153
Quick update on this - I was able to add a bit of code to the [nextjs-typescript-react-stripe-js](https://github.com/stripe-samples/nextjs-typescript-react-stripe-js) example so that the list of products is automatically pulled from one's Stripe dashboard Products & Prices, and mixing one-time and recurring Prices works as expected in this format. It just requires the Stripe Secret Key to be set o

[2020-10-22 13:47] dayhaysoos commented on #153
whoa, nice! Yeah, we don't have a real official process for showing examples. I'm starting to wonder what might be the best way to go about this. I wonder if we should have a few "core" examples in the examples directory, and maybe add something on the site for many others. For now, I wouldn't mind if you opened up a fork to add to the examples directory. Wanna give that a try and we'll see how it

[2020-10-26 15:45] wingmatt commented on #153
Thank you for the clarification there!

I just pushed [my example project to my fork](https://github.com/wingmatt/use-shopping-cart/tree/add-example-nextjs/examples/nextjs).

It's still a little rough around the edges, so I expect more work/polish will be needed before it can be added to the repo proper. With that said, it's at least a proof of concept at this point, so people can see what I did a

[2020-10-27 02:01] dayhaysoos commented on #121
Very interesting discussion regarding loadCart:

https://twitter.com/mckeejm/status/1320899316534464517

[2020-11-10 03:05] dayhaysoos commented on #153
@wingmatt I'ma take a look soon, just trying to land some features for the next few weeks

[2020-11-10 03:07] dayhaysoos opened #155 "Deprecate using SKU"
Stripe deprecated the SKU API which is what this library was originally based off of. I propose that we switch to using `id` for everything and provide some sort of backwards compatibility for sku.

[2020-11-10 03:08] dayhaysoos opened #156 "Update validateCartItems to use Stripe V2 format"
### Problem

use-shopping-cart was made with the `SKU` API in mind. We need to deprecate `SKU` within USC, and provide the required object structure for Stripe V2 session IDs.

Also need to make sure we are backwards compatible with the SKU API.

### Work Required

- [ ] Scrub `sku` from the library in favor of `id`.

 Sku is also used to describe the entire product in some places. In those places

[2020-11-14 20:20] dayhaysoos commented on #156
@ChrisBrownie55 I think there are a few things that might complicate this whole thing. We could possibly check if the id has `price` in it for the price ids. The format is something like `price_RANDOM_GENERATED_STRING`. The same exists for sku.

I think I'm just gonna get started and see what happens and I think we'll be able to learn what we need to do from there

[2020-11-14 20:51] dayhaysoos commented on #156
I think we should make having `id` a requirement

[2020-11-14 21:11] ChrisBrownie55 commented on #156
@dayhaysoos I don't mean if the id has a sku vs a price I mean:

[code]

Versus

[code]

[2020-11-14 21:13] ChrisBrownie55 commented on #156
If we make `id` a requirement, does that mean we're dropping support for `sku`? If so, is it easy for people to change all of their products to `id`?

[2020-11-14 21:49] dayhaysoos commented on #156
@ChrisBrownie55 I think we should tbh, especially because the SKU API has been completely removed from the Stripe docs. To be honest, even though this library was made with SKU in mind, everyone has been using the Price ID anyway. It's hard to say... I still think the best thing we can do is make it so that it works when people have a `sku` key anyway, but maybe throw a warning. What do you think?

[2020-11-17 22:18] TracerBuilt opened #158 "Intl.DateTimeFormat#formatToParts() is not defined in older browsers — please manually polyfill it, example below"
In older browsers (I've tried IE 9.0, 10, and 11 as well as Firefox 52 and 56), attempting to load the cart produces:

`TypeError: a.formatToParts is not a function`

Thoughts on a potential polyfill?

[2020-11-17 22:19] TheTracerBullet commented on #158
I'm given to understand that this is also the case for iOS devices running Safari 12 or earlier.

[2020-11-18 02:16] ChrisBrownie55 commented on #158
Yeah you should be able to find a polyfill for `Intl.DateTimeFormat`. We probably won't be polyfilling that in this library because not everyone will want the polyfill. However, I can look up a polyfill real quick for you to use in your project.

[2020-11-18 02:37] ChrisBrownie55 commented on #158
This seems to be the most recent DateTimeFormat polyfill: https://formatjs.io/docs/polyfills/intl-datetimeformat/

[2020-11-19 15:00] TracerBuilt commented on #158
Just in case anyone winds up here looking for a solution to the same problem I had, I created a fork using [this polyfill](https://github.com/tc39/proposal-intl-formatToParts) which enables this package to work in older browsers. It can be found [here](https://github.com/TracerBuilt/use-shopping-cart/tree/master/use-shopping-cart)and installed with: `npm install @tracerbuilt/use-shopping-cart`

[2020-11-19 19:45] ChrisBrownie55 commented on #158
@TracerBuilt you shouldn't need to fork the package to use a polyfill. May I ask why you did?

In order to keep your installation of use-shopping-cart up-to-date, I would suggest just installing the polyfill and then importing it before using use-shopping-cart. If you only want it to polyfill when necessary, you can use dynamic imports, and once your polyfills are loaded you can then render your a

[2020-11-19 22:29] TracerBuilt commented on #158
Ah! I'm a bit new to all this and it was the only way I could think of to inject code into a pre-existing project.

Do you have any recommendations on where I could read up and learn how to do what you're talking about?

[2020-11-21 17:38] ChrisBrownie55 commented on #158
I'll send you an example of how I've done it in the past in my projects.

[2020-11-21 18:11] ChrisBrownie55 commented on #158
Here is a link to my project that utilizes an optional polyfill loading pattern:

https://github.com/ChrisBrownie55/notably/blob/dabe00a22c8db1d18cc7f49fd7ef866138b4ecdc/src/index.tsx#L50-L59

The idea is that you can create some asynchronous functions that see if a polyfill is needed for a feature and then will load each polyfill and assign them to their respective names on the `window`. Once you

[2020-11-21 19:30] TracerBuilt commented on #158
Thank you so much. This is extremely helpful.

[2020-12-09 15:22] Opssy commented on #151
Am interested in rewriting the documentation, do you have any guide i can follow

[2020-12-11 22:18] dayhaysoos commented on #151
Hey @Opssy !! I'm happy you want to handle some of these. No real guide, in the documentation folder, you'll see how we have the docs set up. I think the easiest thing you can do is maybe do `shouldDisplayCart` on the api.mdx file. You could display how it shows up on that page.

I actually plan on migrating all these docs over to docusaurus, just a heads up. It might be easier to contribute there

[2020-12-12 08:46] Opssy commented on #151
Yes, am very much interested

On Fri, Dec 11, 2020 at 11:18 PM Nick DeJesus <notifications@github.com>
wrote:

[2021-02-05 03:17] ehowey commented on #151
Hello! I am going to submit a quick PR with some basic documentation on some of those that I have used!  Should see it later tonight - it will be pretty basic but better than nothing for folks.

[2021-02-13 06:07] antoinefotso opened #169 "Compatibility with React Native?"
Thank you for this awesome package .
It works also with react native ?

[2021-02-13 15:09] ChrisBrownie55 commented on #169
Hi @antoinefotso,

I'm unsure if anyone has directly tested whether or not this package works with React Native, however, seeing as it doesn't render any HTML it should work with it though. The only area that might cause some friction is our `useLocalStorageReducer` but, the way we wrote it, it should work fine when there's no `window`.

Are there any specifics you had in mind?

[2021-02-13 15:15] ChrisBrownie55 commented on #169
@antoinefotso, I also wanted to mention that our `redirectToCheckout` is based on the react-dom implementation of Stripe.js API. For checking out in React Native, you'll have to use another package. You can still use use-shopping-cart to handle building the shopping cart itself though.

[2021-02-13 15:39] #158 closed

[2021-02-14 20:20] ChrisBrownie55 commented on #120
@dayhaysoos Are we still working on this or did we decide we didn't need this?

[2021-02-14 20:53] ChrisBrownie55 commented on #54
For debugging, I think this would do just fine:

[code]
![image](https://user-images.githubusercontent.com/19195374/107888790-310d2800-6ed4-11eb-9f0f-89b95631ff72.png)

[2021-02-14 20:54] ChrisBrownie55 commented on #54
I would need to modify the function a little bit because this was written from the perspective of `const cart = useShoppingCart()` and not from within `useShoppingCart` itself.

[2021-02-14 20:54] #93 closed

[2021-02-14 20:56] #108 closed

[2021-02-14 21:48] antoinefotso commented on #169
ok thanks

[2021-02-14 21:48] #169 closed

[2021-02-16 01:42] ChrisBrownie55 commented on #121
I'm gonna close this since we already implemented `loadCart`

[2021-02-16 01:42] #121 closed

[2021-02-16 17:07] ChrisBrownie55 commented on #122
It looks like setting `suppressHydrationWarning` is the only option until https://github.com/soyguijarro/react-storage-hooks/pull/20 is merged. Once it is, we'll need to update our dependency. For now, I'll just tag this as "On Hold".

[2021-02-16 17:30] ChrisBrownie55 commented on #125
I think that instead of using a `CHANGELOG.md` file we should just use GitHub's Releases feature. It also supports drafts so I'll start a draft for the next release.

[2021-02-16 17:49] ChrisBrownie55 commented on #125
https://github.com/dayhaysoos/use-shopping-cart/releases/tag/untagged-8abc1c3af9915dcef936

[2021-02-16 17:50] #125 closed

[2021-02-16 18:30] #155 closed

[2021-02-16 18:30] ChrisBrownie55 commented on #149
I'm not sure I completely understand what that entails for use-shopping-cart. Do you want to allow the developer to pass in a string that would be the LocalStorage key? So you'd have

[code]

We could also just call it `storageKey` instead of `namespace` if that'd make it more obvious what it was doing.

[2021-02-16 18:36] dayhaysoos commented on #150
Not sure how necessary this is since most backends have `createAt` and `updatedAt` values

[2021-02-16 18:36] #150 closed

[2021-02-16 18:53] dayhaysoos commented on #54
I love it! Are you gonna make a PR for this?

[2021-02-16 18:53] #44 closed

[2021-02-16 18:55] dayhaysoos commented on #149
I like the idea of `storageKey`, but yeah the idea is to be able to store different carts per merchant based on this storage key

[2021-02-16 18:55] dayhaysoos commented on #120
@ChrisBrownie55 I don't think this is as necessary anymore, it's easy enough for devs to use useEffect to handle what they need

[2021-02-16 18:55] #120 closed

[2021-02-16 19:05] dayhaysoos opened #172 "Make use-shopping-cart framework agnostic with Redux"
Just putting this on the board for discussion for now. Would love for USC to be available on other frameworks, but even plain old HTML/CSS/JS projects as well. I'd like to use a state management library like redux. I've played with redux-tool-kit just a little bit and really liked it. I'd like to kick this off myself with a new branch and see how far I could get!

[2021-02-16 19:17] ChrisBrownie55 commented on #54
Sure, I'll get started on that soon. I'll try to write some tests for the HTML it renders too.

[2021-02-18 21:59] andria-dev opened #174 "Outdated Type Definitions and No Way To Test Them"
It would appear that the type definitions have become out-of-date with the source code. Specifically, I noticed that the `Product` interface was still using `sku: string` instead of the new `id` thing we have going on. `loadCart` doesn't have a valid type definition. Needless to say, we need to both fix the `.d.ts` files and find a way to test them to make sure they're accurate.

Currently, we hav

[2021-02-19 08:54] benwwalker commented on #122
Fwiw I've been running into this whilst using material-ui badges too - things like

[code]

which not only triggers the hydration warning, but also a mismatched className on the Badge being invisible (server side) or not (client side).

My only solution, for now, has been to go with the premise that the shopping cart interaction will be client-side only, and wrap any use of cartCount in <NoSSR>

[2021-02-19 17:19] ChrisBrownie55 commented on #122
I'd say that that's a fair assumption as all of the cart information has to be loaded from either LocalStorage or with `loadCart`. However, @benwwalker, I feel like the hydration warning is triggered in your above example because you're still conditionally rendering different values to the DOM based on `cartCount`. You might try something like:

[code]

Other than that, we're still just waiting on

[2021-02-22 19:42] #54 closed

[2021-03-09 03:15] cgarrovillo opened #180 "Redux-persist failed to create sync storage (SSR)"
Environment
NextJS 10.0.7
React 17.0.1

When a page is rendered Server-side, the following error logs:
![image](https://user-images.githubusercontent.com/6688713/110413197-afc83180-804a-11eb-9049-f653175bebf3.png)

Proposed solution:

Declare storage by first detecting if the page is in a server or browser environment: See full code at [https://github.com/vercel/next.js/discussions/15687](https://

[2021-03-09 12:52] marcustut opened #181 "IntegrationError from Stripe when using redirectToCheckout"
version: "3.0.0-beta.2"

### What is the issue?

when I use `redirectToCheckout`, it would throw this error

![Error](https://user-images.githubusercontent.com/59773847/110472964-f84e2080-8118-11eb-8c3a-a3916352f546.png)

### My Code

[code]

[2021-03-09 16:09] ChrisBrownie55 commented on #181
That looks like an error with the way you're loading Stripe. Did you verify that the `apiKey` value is not an object or `undefined`?

[2021-03-09 16:11] marcustut commented on #181
Yup, I checked that aspect on both the server api routes and also the client side. I've reverted to version 2.1.0 currently and verified that everything works.

[2021-03-09 16:14] dayhaysoos commented on #181
@ChrisBrownie55 I actually changed the API. Redux doesn't support putting non-serializable things in state. I made a middleware to handle this, but you have to pass your stripe public API key to the Cart Provider, not the Stripe Promise

[2021-03-10 04:07] cgarrovillo commented on #181
I also have this issue. Even when `<CartProvider>` is placed at the very top-level, even having a `<DebugCart>` shows null when logging stripe:

<img width="595" alt="image" src="https://user-images.githubusercontent.com/6688713/110574776-03a24b80-811b-11eb-8d06-be03aac91a82.png">

![image](https://user-images.githubusercontent.com/6688713/110574875-29c7eb80-811b-11eb-963b-e740c4186e63.png)

[2021-03-11 21:47] momo-sa opened #184 "Broken crypto dependency in webpack 5"
I'm using `use-shopping-cart` in a gatsby project. The current version of gatsby (3.0) uses webpack 5. Webpack 5 fails on build with `use-shopping-cart` due to the `crypto` dependency (error msg below). It looks like `crypto` is deprecated: [crypto on npm](https://www.npmjs.com/package/crypto). I get the error with both the current stable version of `use-shopping-cart` on npm (2.4.3) and the lates

[2021-03-13 01:53] dayhaysoos commented on #184
@momo-sa hey! thanks for submitting the issue, I actually made a mistake, that beta release wasn't supposed to be the latest. I changed it back to `2.4.3`.

Can you try reverting back to that version? Just a heads up, that I do plan on changing the API pretty soon but it won't be a lot of changes needed.

So sorry about that! Lemme know if this works better for you

[2021-03-13 01:56] dayhaysoos commented on #180
Thanks for opening this, going to look into it soon.

[2021-03-14 12:57] momo-sa commented on #184
Hi @dayhaysoos! I double-checked with 2.4.3 and still get the same issue. I searched `node_modules/use-shopping-cart` for `crypto (`ack crypto`). Looks like `crypto` is being used but it's all in `dist/`. Maybe it needs to be rebuilt?

[2021-03-14 13:03] dayhaysoos commented on #184
@momo-sa so weird, I'm gonna try spinning up a Gatsby 3.0 site and trying myself. I'm not sure why Crypto is necessary.

Thank you for opening this issue

[2021-03-21 04:27] ChrisBrownie55 commented on #156
I think we just need to finish scrubbing `sku` from the library and then we should be able to close this.

[2021-03-21 04:56] ChrisBrownie55 commented on #152
Hmm, I was thinking of a way to prototype this but I think this is the wrong way to go about something like "Added to your cart". Instead, I would recommend the developer to do this on their `Product` component:

They should likely be using some sort of global or global-ish state that allows them to add products to a stack when they're added to the cart. After a certain amount of time, they could

[2021-03-21 05:13] ChrisBrownie55 commented on #153
I'd like to revisit this for the new version we're working on. I'm not sure what it is we need to do though still. If we could pare this down to some bullet points about what we need to change.

[2021-03-21 05:22] ChrisBrownie55 commented on #181
@cgarrovillo I believe that you're likely using the beta version. The new changes we're making are changing the API to:

[code]

If you're looking for a more stable version, I would suggest just going with `use-shopping-cart@latest` which is version `2.4.3`

[2021-03-21 05:24] #181 closed

[2021-03-21 05:26] ChrisBrownie55 commented on #181
@dayhaysoos We should definitely add a warning when `stripe` is not of type `string` that tells them that `use-shopping-cart` will takes the public API key itself and will do the loading of Stripe.

[2021-03-22 16:20] ChrisBrownie55 commented on #174
This is on hold until we finish making use-shopping-cart framework-agnostic with redux #172

[2021-03-22 16:24] ChrisBrownie55 commented on #180
Super easy way to test if this is still a problem, which it is: If you just open node in the root of this repository and `require` the core package, you will get the same error/warning.

[code]

[2021-03-25 13:37] habinski commented on #184
Same issue. Even with v2.4.2 and the last 3.0.0-beta.5. Maybe it's a problem because of Gatsby v3. If u need err info – text me. I'll install usc again.

[2021-03-25 14:40] ChrisBrownie55 commented on #184
@dayhaysoos Maybe we should push a new beta build. The PR that switches to using the browser build of `uuid` should have fixed this hopefully.

[2021-03-27 14:41] ChrisBrownie55 commented on #184
If Webpack 5 used in Gatsby 3 still complains after we publish the `uuid` and rollup alias changes — which we haven't yet — then I would say that the following two links will probably solve your problem.

## Polyfilling Node's Core APIs
https://github.com/Richienb/node-polyfill-webpack-plugin

The `node-polyfill-webpack-plugin` package was specifically introduced to polyfill the Node APIs — i.e `c

[2021-04-04 21:22] felipesousa commented on #184
thanks a lot @ChrisBrownie55!

[2021-04-06 02:07] felipesousa opened #191 "Gatsby: How to get the current cart on gatsby?"
Gatsby has problems accessing the localStorage, has the library any other way to receive the current cart?

[2021-04-06 04:35] felipesousa commented on #191
I found the API inspecting on console, thanks btw 🙏

[2021-04-06 04:35] #191 closed

[2021-04-09 00:19] wingmatt commented on #153
@ChrisBrownie55 Thanks for revisiting this! It definitely fell off my radar...

I know USC's underlying architecture has changed significantly since I made my example project, so I will probably end up recreating my example and building the bullet points you mentioned along the way if that sounds helpful.

[2021-04-12 19:39] ynotGit commented on #184
i've followed the guidance provided however I've come unstuck with the following error:

errno: -2,
  syscall: 'open',
  code: 'ENOENT',
  path: '//public/webpack.stats.json'
Failed to validate error [Error [ValidationError]: "filePath" is not allowed to be empty]
 {
  _original: {
    context: { path: '/', filePath: '', line: undefined, column: undefined },
    filePath: '',
    location: { start

[2021-04-12 20:28] ChrisBrownie55 commented on #184
@ynotGit That's strange, perhaps you could give some more information about your setup and maybe the stack trace that came with the error?

[2021-04-12 20:37] ynotGit commented on #184
Thanks for taking a look at this, Chris. Here's the full output:

[code]

[2021-04-12 20:52] amirhemm opened #192 "loadCart not merging correctly"
Hi,

I'm trying to use this method to sync my DB with local storage with the loadCart method and merging to true, but it seems that if you have the same product with the same ID added and you are trying to load it from DB and it already exists in the local storage, the current behavior is that the cartCount and totalPrice update accordingly but the cartItem quantity is not being updated.

Can you

[2021-04-15 16:05] dayhaysoos commented on #192
hey @amirhemm, which version of USC are you using? The beta or the latest release?

[2021-04-16 00:51] dayhaysoos opened #193 "Features needed for official new release!"
- [ ] Testing with Server Side Rendering and redux-persist

This is a research thing. redux-persist has some trouble with server side render, so this is what we have for the "solution":

https://github.com/dayhaysoos/use-shopping-cart/blob/822e8b70b66d2f81c966d6a459c54851f0bf3df2/use-shopping-cart/core/store.js#L49

It's basically saying: If the browser isn't available, don't wrap the store in red

[2021-04-17 20:13] gudatcomputers commented on #193
@dayhaysoos - would be down to take a shot at the persistence tests.  would want to talk with you about the overall strategy and such before I got too far down a path you're not comfortable with.

[2021-04-20 07:50] amirhemm commented on #192
I'm using the latest release.

[2021-04-29 20:39] amirhemm opened #196 "Dynamic or lazy load stripe"
Is there a way that we can lazy load the Stripe library. I have my CartContext at the top level of my app and it really hammers my performance.

[2021-05-01 01:12] ChrisBrownie55 commented on #196
## Current asynchronous options

With the 2.x versions you should be able to pass any kind of promise that resolves to Stripe. You can use the `import()`/`loadStripe()` or perhaps create a promise that uses `requestAnimationFrame` or `setTimeout` to wait for the browser to catch up before returning an `import()`/`loadStripe()` promise.

[code]

### Plans for 3.x

In the beta, we are currently havi

[2021-05-01 16:59] amirhemm commented on #196
Thanks @ChrisBrownie55 that helped a lot. Any ideas on when the version 3 will come out of beta?

[2021-05-05 17:24] dayhaysoos commented on #196
@amirhemm I'd really love to get it out within the next week or two, I think a big task we need to get out the way is type defs and documentation. I'm going to give it some work this weekend and see how far I get. Thank you for opening an issue!

[2021-05-20 17:24] ammonialime opened #201 "Unable To Resolve Dependency Tree"
First. Thanks for creating this its great!

I recently upgraded to Gatsby 3.4.1 and i'm having some issues installing the plugin. I believe it's related to the react version that Gatsby is now using?

When I run `npm install --S use-shopping-cart` after creating a brand new Gatsby starter project I get a few errors.

I have tried running the command with -force but it seemed to cause even more iss

[2021-05-21 00:34] dayhaysoos commented on #201
Hmm.. weird, @ehowey were you having these issues with your gatsby projects? I haven't spun up a Gatsby instance myself.

Thanks for opening the issue! Will look into it

[2021-05-21 01:08] ammonialime commented on #201
Hey @dayhaysoos

Yes. It's on a new Gatsby project. Using Gatsby 3.4.1.

[2021-05-21 02:21] ehowey commented on #201
Hi @ammonialime I tested this and I think found the problem.

Gatsby - by default uses Yarn as a package manager. So when you ran the `npm` command it errored out.  I got the same error by the way.  However if you run `yarn add use-shopping-cart` it should work.

If you want to use npm in your Gatsby project you would need to delete the `yarn.lock` file and your `node_modules` folder and then run

[2021-05-21 17:54] ammonialime commented on #201
Hey @ehowey

Thats great looks, like its working for me again. Really appreciate it!

Jon

[2021-05-21 17:54] #201 closed

[2021-06-01 10:16] dani-z opened #204 "(question): Product variations support"
Hello!

Firstly, thanks so much for this great piece of software. It makes it so much easy to get up and running with a basic online shop!
I am a photographer (also) and am looking to start and sell some prints.

The question I have, is it possible to have product variants using this hook? Say for me different sizes, different papers for example.
If it is possible, how would the product date struc

[2021-06-03 01:16] dayhaysoos commented on #204
Hey @dani-z, there isn't a particular thing that USC has for product variations. That's entirely up to you to handle before purchasing. The variant data might be something you handle with Stripe's `metadata` object.

Sorry, I wish I could be much more helpful here. I have seen people suggest taking a peak at how Shopify handles variation data and try to replicate that on your own. Sorry!

[2021-06-03 02:29] ehowey commented on #204
Hey @dani-z take a look at how Shopify handles it as Nick suggested.  How I approached this was storing the product data in the database in one format and then transforming it to another format at build time that USC can use.

Checkout this util function that I built to transform my dataset:

https://github.com/ehowey/gatsby-theme-catalyst/blob/(stripe)--usc-v3/starters/gatsby-starter-catalyst-str

[2021-06-07 07:54] dani-z commented on #204
Hi @dayhaysoos @ehowey,

Thanks for the suggestions, I'll definitely have a look at these.
Will be closing this issue now.

[2021-06-07 07:54] #204 closed

[2021-07-02 21:02] dayhaysoos opened #207 "bug fix: Putting the correct names for values being passed to tests"
This link shoes that a productId is being passed where there should be a price.. The code may work, it's just labelled incorrectly:

https://github.com/dayhaysoos/use-shopping-cart/blob/18f0fcef81e1345df86f2392f4a27f779e925d6a/use-shopping-cart/core/stripe-middleware.js#L54

[2021-07-04 15:34] dayhaysoos commented on #207
This was a giant lie

[2021-07-04 15:34] #207 closed

[2021-07-04 15:36] dayhaysoos commented on #193
Not perfect, but pretty much there

[2021-07-04 15:36] #193 closed

[2021-07-04 15:37] dayhaysoos commented on #184
This should be addressed in the new version

[2021-07-04 15:37] #184 closed

[2021-07-04 15:41] dayhaysoos commented on #192
Hey @amirhemm, sorry for taking so long to get back to you. Did you end up finding a workaround by any chance? I am thinking of taking the merge approach you proposed, but there were some other issues/questions that came about regarding loadCart so I didn't get around to it.

[2021-07-04 15:42] #180 closed

[2021-07-04 15:42] #172 closed

[2021-07-04 15:44] dayhaysoos commented on #156
Just FYI, the Stripe SKU API will continue to be deprecated, but `sku` is going to come back as a value. Not sure what kind of issues will arise there, but we'll see!

[2021-07-04 15:44] #156 closed

[2021-07-04 15:46] #153 closed

[2021-07-04 15:47] #151 closed

[2021-07-04 15:49] dayhaysoos commented on #122
Don't think this is an issue anymore, let me know if I'm wrong tho

[2021-07-04 15:49] #122 closed

[2021-07-04 20:20] amirhemm commented on #192
Hi @dayhaysoos, no worries, I know you got a lot on your plate. Well I did manage to use set something up for my use case. In a nutshell, if they user is logged in I merge (not by using the utility function, I made my own helper function) their DB cart with local storage cart. Everything works fine if user adds a new item to the cart. But once a user adds an item which is already added before to t

[2021-07-04 22:17] dayhaysoos commented on #192
@amirhemm I would love to see it! I would definitely like some direction on how to implement this with `loadCart` if you don't mind. I have yet to test USC with a backend so your perspective is very valuable

[2021-07-05 08:21] amirhemm commented on #192
@dayhaysoos you can check out a sample implementation [here](https://beauti4body.com). Let me know if come across any questions, I'll be more that happy to help if needed.

[2021-07-05 11:02] Nauman1971 opened #214 "Webpack 5 polyfill configuration issue"
Module not found: Error: Can't resolve 'crypto' with Webpack

[2021-07-05 15:42] andria-dev commented on #214
Hi @Nauman1971, could you provide some more information about this error you're getting and what setup you're using?

Specifically, can you say what version of use-shopping-cart you're using?

[2021-07-05 18:08] xmartinezpujol commented on #214
If you are using Webpack5 one way to fix it could be to add this on your Webpack config file:

`resolve: {
    fallback: { crypto: false },
},`

That's how I solved it.

Webpack also tells you which options you have:

<code>BREAKING CHANGE: webpack < 5 used to include polyfills for node.js core modules by default.
This is no longer the case. Verify if you need this module and configure a polyfill

[2021-07-05 19:39] Nauman1971 commented on #214
Thank you for your reply. Yes i also solved this problem with the solution
you provided

On Mon, 5 Jul 2021, 23:09 Xavier Martínez Pujol, ***@***.***>
wrote:

[2021-07-29 22:38] AMREDA opened #218 "Error in use-shopping-cart/examples/gatsby"
I get the following errors whenever calling `addItem()`, `redirectToCheckout()`, and `clearCart()` as used in the example code:

[code]

[code]

[2021-07-31 00:58] abejfehr commented on #218
The docs look like they're out of date, `stripe` now expects the stripe key instead of the stripe promise

[2021-07-31 11:18] AMREDA commented on #218
Exactly. The example is out of date. For anyone getting the same error, pass the following values to CartProvider :

[code]

You no longer need `const stripePromise = loadStripe(process.env.GATSBY_STRIPE_PUBLISHABLE_KEY)`

[2021-07-31 11:18] #218 closed

[2021-08-08 03:26] genox opened #222 "PropertyTypeError: Invalid value with type "Promise" was received for stripe. Valid type for stripe is "string"."
Hi,

I'm currently implementing the [sanity.io + stripe + use-shopping-cart](https://www.sanity.io/guides/building-ecommerce-sites-with-the-stripe-api) example in Next JS and stumbled over a few issues that I'm not sure how to resolve. I'm using `"use-shopping-cart": "^3.0.0"` and `"stripe": "^8.168.0"`. My stripe account is set up and allows for test requests.

1) Everytime I add an item to the c

[2021-08-08 03:35] genox commented on #222
Oh - looking at the docs again I noticed that the example mentioned above probably uses an old version of both the stripe and the use-shopping-cart module. I guess that's my problem. ;)

[2021-08-08 03:35] #222 closed

[2021-08-11 09:07] osnodegeoffrey commented on #102
It seems that there were some movements in 3.0.0
[code]
does not work as it seems to be under `use-shopping-cart/react` but it is complaining about /react not exported if I switch.

Any suggestions?

[2021-08-11 20:13] christopher-caldwell opened #223 "Types seems to not be included"
v3.0.0

## Description

In the package.json, The types are listed as `dist/types/index.d.ts`. In the dist/, there is no `types/` folder in the dist for me.

TS says it cannot find the types for the library.

## Reproduction

- `yarn add use-shopping-cart`

- Try to use TS

[2021-08-11 21:29] andria-dev commented on #223
That's a mistake in the package.json file, we have a `.d.ts` file for each built file in dist. However, we had gotten it to work in the past. How are you importing use-shopping-cart, what TypeScript version are you on, and what is your TypeScript config/setup like?

[2021-08-12 03:40] christopher-caldwell commented on #223
TS Version: 4.1.3

[code]

Here is a screen of what my `node_modules` look like after running `yarn add use-shopping-cart@latest`

![Screen Shot 2021-08-11 at 9 34 53 PM](https://user-images.githubusercontent.com/62559469/129134677-ea52ea35-9c50-43da-be93-bfe4446c202d.png)

And this is the error in VS Code

![Screen Shot 2021-08-11 at 9 37 13 PM](https://user-images.githubusercontent.com/62559469/

[2021-08-12 10:55] osnodegeoffrey opened #224 "Subscription not working"
Hi everyone.

I have an error somewhere where the mode is not passed along to Stripe.
I have
[code]
I use the simple client-only flow so no back-end here. This is the relevant code from my cart component (that is a child of the Provider):
[code]
and the cart is working fine until checkout where the call to `https://api.stripe.com/v1/payment_pages` has mode=payment and gets an HTTP 400 with
[code]

[2021-08-12 15:37] osnodegeoffrey commented on #224
The PR I created fixes my issue but I'm not sure if I'm breaking something else...

[2021-08-13 03:45] christopher-caldwell commented on #223
@osnodegeoffrey Yikes! I have just downgraded the version to `2.1.0`.

[2021-08-16 19:36] dayhaysoos commented on #224
Hey, sorry I took so long to respond @osnodegeoffrey ! I'll check out your PR tonight.

[2021-08-21 01:52] #224 closed

[2021-08-21 01:55] dayhaysoos commented on #223
@christopher-caldwell  I'm gonna take a look at this over the weekend, sorry!

[2021-08-23 10:58] tridungbk2010 commented on #223
it is still issue, i'm using typescript, it still warn:
Could not find a declaration file for module 'use-shopping-cart'.
'node_modules/use-shopping-cart/dist/react.js' implicitly has an 'any' type.
  Try `npm i --save-dev @types/use-shopping-cart` if it exists or add a new declaration (.d.ts) file containing `declare module 'use-shopping-cart';`ts(7016)

[2021-08-23 13:36] dayhaysoos commented on #223
@tridungbk2010 what version are you using? I think I forgot to remove the path for the `types` folder 😅

[2021-08-23 13:41] dayhaysoos commented on #223
I just updated, try version 3.0.3 @tridungbk2010 and @christopher-caldwell

[2021-08-25 08:35] Wolfleader101 opened #231 "Typescript issues and validateCart not being exported"
I am using version 3.03
Type Issue: Module '"use-shopping-cart"' has no exported member 'CartProvider'.

validateCart is not exported
[code]
I have also tried 'use-shopping-cart/src/serverUtil' however that doesn't exist.

[2021-08-29 17:42] ngahika01 opened #232 "REACT NATIVE IMPLEMETATION"
Can this be used with reactnative?
Thanks;

[2021-08-30 10:38] Joran-Dob commented on #223
Running into the same issue, auto complete works when adding /react but does not compile. And without /react it does not provide autocomplete and the following error:
`Module '"use-shopping-cart"' has no exported member 'CartProvider'.ts(2305)`

on version 3.0.3

[2021-08-30 10:41] dayhaysoos commented on #232
Hey @ngahika01

Theoretically, yes! I'm planning on giving it a test run myself sometime in the next few weeks. I'd be happy to support you if you wanted to give it a try

[2021-08-30 10:43] dayhaysoos commented on #231
Thank you for letting me know, sorry about all these type issues, going to take a look at these.

@slivos is there anything you think I can do better with how we have types set up that could help you? Or should I document the set up that you have?

[2021-08-30 10:47] dayhaysoos commented on #223
Hey @Joran-Dob, can you do me a favor and screenshot for me what's in node_modules/use-shopping-cart/dist?

There's an issue that just opened up for CartProvider, I think I didn't export it or anything 😅

However, you at least shouldn't need /react, index.d.ts should be in the dist folder. Sorry for the inconvenience!

[2021-08-30 11:11] Joran-Dob opened #233 "Redux persistance errors."
I am getting the following error when using the shopping cart with NextJS. And I am not able to persist the shopping cart data after refresh.

Not sure where the cause lies for these specific errors.

Version 3.0.3

A non-serializable value was detected in an action, in the path: `register`. Value: [Function: register]
Take a look at the logic that dispatched this action:  {
  type: 'persist/PERSI

[2021-08-30 11:49] slivos commented on #231
I didn't find any other issue yet, so I think, it is ok, thank you for your response, keep up good work.

[2021-08-30 12:03] Joran-Dob commented on #223
Hi @dayhaysoos,

This is what I see in the dist folder.

<img width="627" alt="Screenshot 2021-08-30 at 14 00 54" src="https://user-images.githubusercontent.com/4313089/131335907-709454b4-178d-401f-b89d-c3e15caa9841.png">

When not using the /react i get export errors on all imports `Module '"use-shopping-cart"' has no exported member 'useShoppingCart'.ts(2305)
`

[2021-08-30 12:34] dayhaysoos commented on #233
@Joran-Dob thanks for opening this.

This is an error that I've been getting myself, however, I'm still able to persist data. I felt like it was okay to ignore this error until I figured out how to make it go away. Do you have a repo I can take a look at?

The persisting should still be working.

I made a loom video to show you what I see on my side:

https://www.loom.com/share/9877b5b225d549ab86e

[2021-08-30 13:13] Joran-Dob commented on #233
Thanks for the quick response @dayhaysoos!

Ah, yeah I was not sure if this error was the issue causing the persistence data issues. It most specifically causes an issue for me now when I send a Firebase email link invite and the user opens it. It seems the data did not percist.

The behaviour is intended to save the cart after the user exits the page right?

https://user-images.githubusercontent.

[2021-08-30 13:28] dayhaysoos commented on #233
Ah @Joran-Dob, this might be an issue with Next JS... so you might want to add some logic with useEffect that checks if `data` exists, if it doesn't exist then load some default data until it exists.

Let me know if you need a more detailed example, I'll try to find something for you a bit later

[2021-09-02 23:11] dayhaysoos commented on #233
@Joran-Dob  any update? Did you solve this?

[2021-09-05 21:14] dayhaysoos opened #238 "Svelte, Vue, Angular integrations (and maybe more?)"
Now that use-shopping-cart is using redux under the hood, it's time to start trying to get other frameworks to integrate with it. I only know React, would love help from others who are more familiar with different UI frameworks. Here's a small video that explains how the react implementation works:

### Important parts

The React implementation exists in `/use-shopping-cart/react/index.js`

This s

[2021-09-07 04:25] GGAlanSmithee opened #239 "Bad export of validateCartItems from use-shopping-cart/src/serverUtil in docs"
In [some places in the documentation](https://useshoppingcart.com/docs/usage/validate-cart-items), the `validateCartItems` function is exported from `use-shopping-cart/src/serverUtil`, which does not seem to export that function. Could possibly be related to webpack config or something, but this error appears in a vanilla next.js (with TS) project.

The [serverless docs pages](https://useshoppingc

[2021-09-07 17:34] dayhaysoos commented on #239
@GGAlanSmithee  thank you for flagging this! Gonna take a look, sorry about the confusion and errors

[2021-09-08 04:10] GGAlanSmithee commented on #239
@dayhaysoos my pleasure, thanks for this very nice package!

[2021-09-08 05:01] GGAlanSmithee opened #240 "Outdated example documentation for CartProvider stripe prop"
# EDIT see the first reply on this issue

As per the image, on SSR, there is a non-serializable value in the state.

![image](https://user-images.githubusercontent.com/11805103/132447536-2a047613-4d0d-46c8-ac2f-8002d4787a97.png)

If I understand it correctly, it is `redux-persist` that is the root of this message, but that's a bit weird, since it seems to me that you have properly configured to ig

[2021-09-08 06:42] GGAlanSmithee commented on #240
Turned out there were more issues with this than just the SSR. Seems like the issue was the same as described [here](https://github.com/dayhaysoos/use-shopping-cart/issues/218#issuecomment-890332818) which is that the `stripe` prop expects a Stripe API key as a string, and not a stripe promise.

There seems to be some stale documentation regarding this, more specfically in the [Gatsby example](htt

[2021-09-13 20:13] dayhaysoos commented on #240
@GGAlanSmithee thank you for your feedback! I have a big workshop I'm presenting this week, once that's over with I can focus on addressing the issues you've raised. I really appreciate you!

[2021-09-15 06:23] GGAlanSmithee commented on #240
@dayhaysoos

Awesome - thank you too! Hope your workshop turns out well.

To add some additional info, it actually seems like the SSR related issue persists, even after applying the above-mentioned fix. Since the checkout seems to be successfull, I haven't looked into it further, but the message is as before:

![image](https://user-images.githubusercontent.com/11805103/133381283-b0c8ef59-590c-47c9

[2021-09-19 17:43] VirenMohindra commented on #231
@slivos seems like I'm still having trouble importing via
`import { useShoppingCart } from 'use-shopping-cart';`

This is my `.d.ts` in the root directory:
`declare module 'use-shopping-cart'`

and this is my `tsConfig.json`:
[code]

I can't import any functions, I get
`TypeError: Cannot read properties of undefined (reading 'dispatch')`
and if I try modifying the declare module to point to `use-s

[2021-09-19 19:20] dayhaysoos commented on #240
Hey @GGAlanSmithee, this is an issue that's okay to ignore for now. Just to be sure, this is an issue on Next JS, right? This doesn't show up on Gatsby as far as I know. I thought I applied logic well enough for ignoring anything redux-persist related when it comes to SSR but apparently, it's not working. If you're curious here's the context:

https://github.com/dayhaysoos/use-shopping-cart/blob/m

[2021-09-20 04:28] GGAlanSmithee commented on #240
@dayhaysoos

Thanks for your answer.

Yes, this is on next.js (haven't tested any other framework though).

Looking at the code you linked makes it even more weird. That conditional should def. return true in SSR (which I can confirm by debugging - `typeof window === 'undefined'`).

PS. It doesn't seem like this warning appears in production, by running the app after statically generating it.

[2021-09-20 20:12] dayhaysoos commented on #240
@GGAlanSmithee

I didn't know that this didn't show up for the production build, thanks for that!

Maybe my goal really should be just to hide the error. Not sure if Next has anything for that but I'm going to look into it

[2021-09-21 12:42] Joran-Dob commented on #233
Sorry @dayhaysoos, did not really resolve the issue until now, now looking into it again!

[2021-09-21 13:54] Joran-Dob commented on #233
Fixed it! Thanks! Was related to the loading of the content like you said!

[2021-09-21 13:54] #233 closed

[2021-09-25 16:01] andria-dev commented on #231
@Wolfleader101 so the path in the package is in fact `/utilities/serverless.js`, however, in the current version (`3.0.3`) of `use-shopping-cart` we are using the `exports` field in the `package.json` file to say that you are supposed to import it with the `/utilities` path. As you can see in the `package.json` these are the lines that explain this:

[code]

Example:
[code]

Also `use-shopping-car

[2021-10-06 14:06] JBusani commented on #239
this was an issue for me too. The documentation has been hard to follow. I located it in the utilities/serverless.js file which is fine but there's no mention of the change in the docs. I changed my require statement but I'm still getting an errorMessage "errorMessage":"Package subpath './utilities/serverless' is not defined by \"exports\"

not sure what to do about this

on the side note, I was r

[2021-11-18 13:23] marcingolenia opened #246 "Not possible to specify payment_method_types"
Hi there!
I wanted to specify other payment methods like stated in docs;
https://stripe.com/docs/payments/p24/accept-a-payment?platform=checkout
[code]
but it seems not possible. I tried to look into the source code. It seems that in stripe.js
https://github.com/dayhaysoos/use-shopping-cart/blob/6fd480cdc8264a609efaf6ea879178ea8a4e2769/use-shopping-cart/core/middleware/stripe.js#L9
we would need t

[2021-11-18 13:52] dayhaysoos commented on #246
Hey! Thanks for bringing my attention to this, I'm gonna take a deeper look at this later tonight, just wanted to let you know that I saw this!

[2021-11-18 14:23] dayhaysoos commented on #246
@marcingolenia Which checkout mode are you using? I'm assuming you're not using any serverless functions or anything, yeah?

[2021-11-18 15:49] marcingolenia commented on #246
In my gatsby site I am using this like this;
[code]

[2021-11-22 09:47] szabcsee opened #247 "Why is shipping_options not supported?"
Is there a reason why shipping_options is not added to the redirectToCheckout? Or it is and I am missing something?

[2021-11-23 21:13] dayhaysoos commented on #246
@marcingolenia Yeah I should def add a way  support what you're doing in client-only mode, but why are you using version 2.43?

If we were to update this, it would have to happen on version 3 >

[2021-11-24 10:51] marcingolenia commented on #246
The app I've built is not that new, I am looking to update. For now it just works :) It is absolutely clear that I will have to upgrade.

[2021-12-06 09:33] troy-infi-tech commented on #223
Hi @dayhaysoos , this is still happening in 3.0.4. Please take a look at it. Thank you!

[2021-12-06 23:59] dayhaysoos commented on #223
@troy-infi-tech oop, sorry about that! I'll take a look soon

[2021-12-07 22:15] raynirola opened #250 "NextJS SSR no content"
Using CartProvider prevents SSR on NextsJS?

1. With CartProvider
Nothing renders ?
<img width="1174" alt="Screenshot 2021-12-08 at 3 37 46 AM" src="https://user-images.githubusercontent.com/54945029/145114197-793b3512-7f00-4853-8cf4-dc5e1841e6ef.png">

2. Without
All the contents are rendered
<img width="1174" alt="Without CartProvider" src="https://user-images.githubusercontent.com/54945029/1451

[2021-12-16 23:22] andria-dev commented on #247
Hi @szabcsee, I think we just didn't originally have the option for `shipping_options` when working on this library previously, or we weren't aware of it. As an alternative, you should be able to use `getCheckoutData(cart)` and then modify the result of that and pass it to `stripe.redirectToCheckout()`.

For the future, do you have a preferred way of passing these values to `redirectToCheckout`?

[2021-12-17 15:07] IPreferWater opened #253 "Mismatch between cartDetails and cartCount values"
Hello,
I'm using  use-shopping-cart ^2.1.0
with next 12.0.1
In my quick example, I'm adding 5 items to the cart, this item is defined in a json

`[
    {
      "name": "cours privé",
      "sku": "1_private_course",
      "price": 4000,
      "image": "shop/private_lesson.png",
      "description" : "mdlink ?",
      "currency": "EUR"
    }
  ]
  `

**formattedTotalPrice** & **cartCount** are good

[2021-12-18 02:49] andria-dev commented on #253
Hi @IPreferWater, I can't seem to access the GitHub repository that you linked. Could you create a minimal reproduction of the issue using something like CodeSandbox to make it a little easier to help identify the issue you're having?

[2021-12-18 04:39] andria-dev commented on #247
Also, this might be the same issue as #246

[2021-12-19 11:37] IPreferWater commented on #253
Hello,

sorry I forgot about the private state of the repo

I made a copy with less code possible on this[ git-repo](https://github.com/IPreferWater/use-shopping-cart-mismatch)

please, in order to use :
1] make a .env.local with your stripes keys

[code]
and install the node modules
`npm install`

2] `npm run dev` should send to this [shop page](https://ibb.co/hM9c2Fd)
(github picture upload seem

[2021-12-24 15:31] IPreferWater commented on #253
I found the problem by reading your source-code in node_modules

I didn't use "ID" fields but SKU fields like this example from [vercel](https://github.com/vercel/next.js/blob/canary/examples/with-stripe-typescript/data/products.json)

[code]

it's the demo of this [web-application](https://nextjs-typescript-react-stripe-js.vercel.app/use-shopping-cart), maybe there is somewhere you can specify if

[2021-12-27 16:25] #232 closed

[2021-12-27 23:33] adamwdennis commented on #223
Hi @dayhaysoos -- this seems like a great module, but I can't really get started since CartProvider isn't included.  Any workarounds on this?  Much appreciated 🙏

[2021-12-27 23:55] dayhaysoos commented on #223
Hey @adamwdennis, how about I start working on it in the next 20 mins or so? I'll report back soon

[2021-12-28 00:01] adamwdennis commented on #223
@dayhaysoos - wow, amazing.. cheers!  I found this repo/project/initiative via your [official Stripe partner page](https://stripe.com/partners/use-shopping-cart), and so without this fix, we'll have resort to `2.1.0`, per their [nextjs-ts-react sample](https://github.com/stripe-samples/nextjs-typescript-react-stripe-js/blob/master/package.json#L22).  Really looking forward to getting started with

[2021-12-28 00:08] dayhaysoos commented on #223
@adamwdennis oh man, that ts-react example is super outdated. I need to update that :(

Gonna see if I can pull off this release right now, super long overdue

[2021-12-28 00:50] dayhaysoos commented on #223
Hey @adamwdennis I seem to be having no issues with missing types right now, so long as you import from `use-shopping-cart/react'.

Is there an issue you're running into in particular?

[2021-12-28 03:54] adamwdennis commented on #223
@dayhaysoos that worked! I've updated the docs: https://github.com/dayhaysoos/use-shopping-cart/pull/256

[2021-12-28 03:55] dayhaysoos commented on #223
@adamwdennis instant merged

[2021-12-30 03:40] ehowey commented on #247
Hey I just ran into the need to support this - and am going to have a go at adding it to the library. We will see where I can get to.  It might end up being a working draft that can be used by the library maintainers to create a permanent solution.

[2021-12-30 07:23] smac89 opened #258 "Overwrites existing app's redux persist state when loaded"
My website already uses redux persist with the same key as this library is using i.e. `root`. I didn't realize this, until I started to notice that I was loosing data that was stored in localstorage, when I open the shop page of the website.

I'm not sure what the correct solution is, but is it possible to allow users to choose a different name for the reducer's localstorage key? Or an option to a

[2021-12-30 22:52] ehowey commented on #247
Just a comment to update that I tried to add this support in - but was having a lot of trouble just getting CRA from the repo to work properly.  Some of that was env variables at first - but I also couldn't get the `<DebugCart />` component to render and was trying to find a way to `console.log` out the Redux state.

I think in theory support for shipping options should be pretty easy - handled si

[2021-12-31 19:46] ehowey commented on #247
Okay - so I tried hard coding in the shipping options parameter just to test if I could get it all working and talking to Stripe without USC. I ran into an "Integration Error", which I thought at first was USC but was actually coming from Stripe.

Turns out there is some inconsistency in their API surface area.

https://stripe.com/docs/payments/checkout/shipping

and

https://stripe.com/docs/js/ch

[2022-01-07 21:23] marcingolenia commented on #246
:(

[2022-01-11 13:02] hideokamoto-stripe commented on #250
Could you share us what you wrote in your Next.js app?

Thanks!

[2022-01-11 13:37] raynirola commented on #250
![home](https://user-images.githubusercontent.com/54945029/148952602-99b0c230-5f95-4cb6-bca9-99a8033dc3c7.png)

![_app](https://user-images.githubusercontent.com/54945029/148952513-74d7d8a9-4807-498e-b0a8-c0bb31c7caec.png)

Steps to reproduce:

 - Fresh Nextjs app.
 - Install `use-shopping-cart`
 - Wrap your app within `CartProvider` in _app.js
 - build the app
 - check page source.

[2022-01-17 17:39] dayhaysoos commented on #258
@smac89 hey, sorry for taking so long to get back to you!

I like all of these ideas, perhaps the better option as far as developer experience goes would be creating a unique key and allowing people to pass a custom key if they'd like.

My only concern is around possibly breaking changes for those already using it, not sure if that would go over smoothly but we'll find out! Give me a few days to g

[2022-01-17 17:45] dayhaysoos commented on #250
Thanks for helping @hideokamoto-stripe !

CartProvider should definitely support SSR, there's logic for checking it he browser exists or not.

What version of USC are you using @raynirola ?

[2022-01-17 17:56] dayhaysoos opened #264 "Supporting "Custom" configuration for <CartProvider />"
## Overview

Not all countries are able to use Stripe, however, users would like to take advantage of the shopping cart state and logic that USC provides. Right now, there are Stripe values that are required in the current set up.

## Goal

It would be ideal to pass a "custom" prop to the CartProvider that makes it so that no config is required at all.

## Approach

As of right now, there is a Cli

[2022-01-17 18:08] LarsBuur commented on #264
Given we are removing stripe most people will need a way to do some form of gathering customer info and maybe using a different payment gateway. Besides currency we should add a prop called checkoutUrl.

Let´s add the useCustomProps hook once we have a basic CartProvider working without stripe.

[2022-01-17 18:12] dayhaysoos commented on #264
Sounds good! Do you want me to assign this to you btw?

[2022-01-17 19:36] raynirola commented on #250
@dayhaysoos '^3.0'

[2022-02-06 14:57] andria-dev commented on #253
@IPreferWater I think the issue your describing can be fixed by changing `sku` to `id` on your product objects, however, that issue is also solved in use-shopping-cart v3. If you want to migrate to v3, not much should change; if you encounter any issues with that, please let us know.

[2022-02-06 14:57] #253 closed

[2022-03-10 00:16] #102 closed

[2022-03-10 00:16] #223 closed

[2022-03-10 00:16] #231 closed

[2022-03-16 19:17] Xananax commented on #233
This didn't fix it for me. I'm using https://github.com/vercel/next.js/tree/canary/examples/with-stripe-typescript as a basis

[2022-04-20 04:34] Hansanghyeon opened #283 "module not found react path"
nextjs
react v18

`"use-shopping-cart": "^3.1.1"`

[code]

Why is this happening? help

[2022-04-22 02:17] Hansanghyeon commented on #283
After installing the swr package, it works normally.

[2022-04-28 01:06] andria-dev commented on #283
@Hansanghyeon Can you show us your import statement that is causing this error? I just tested the library with NextJS and React v18 and I'm unable to reproduce your issue so far.

For reference, I have it working with the following import statement in `pages/app.tsx`:
[code]

[2022-04-30 03:32] andria-dev commented on #250
Hi 👋🏻

Started looking into this and this isn't a bug. Quick description of what happens inside `<CartProvider>`:

`<CartProvider>` takes an optional argument called `loading` (type definition is `loading?: React.ReactNode`). This determines what you will render while the cart data is being loaded. This could be something like a spinner, a skeleton of your page, or it could also just be your `<App

[2022-04-30 03:32] #250 closed

[2022-05-12 08:02] DocPhillbox commented on #283
I encountered this issue while making this import
`import { useShoppingCart } from 'use-shopping-cart'`
in `pages/shop/index.tsx` using NextJS too

[2022-05-12 09:06] Hansanghyeon commented on #283
I'm sorry I closed this example. We will come back to you if any problems arise in the future.

[2022-05-12 09:06] #283 closed

[2022-06-09 16:13] so2liu opened #285 "Cannot read properties of undefined (reading 'dispatch')"
react: 18.0.0
react-dom: 18.0.0
react-scripts: 4.0.3
use-shopping-cart: 3.1.2

code: https://codesandbox.io/s/loving-star-ce1262?file=/src/App.tsx

[code]

[2022-06-09 16:19] #285 closed

[2022-06-09 16:19] so2liu commented on #285
Lack of `CartProvider`

[2022-08-02 12:51] #174 closed

[2022-09-10 04:59] vitorsemidio-dev opened #291 "fix 404 on link "Click here to see client-only docs" in Getting started"

[2022-09-10 05:15] vitorsemidio-dev opened #293 "fix 404 on link "Click here to see serverless docs" in Getting started"

[2022-09-17 20:19] chrissysemens opened #296 "Sku required error"
Hey all,

I've installed use-shopping-cart at current version 3.1.2.

On attempting to add an item to a cart, I'm getting an error stating sku is missing in my props:

![image](https://user-images.githubusercontent.com/46443589/190874942-b115bb56-ab20-4035-9e1c-f974bba92580.png)

This is strange in itself as I can see in the typings that there's a union between id and other items:
![image](https:/

[2022-09-17 20:41] chrissysemens commented on #296
I've resolved this. I was actually missing some price info, but the error was misleading.

[2022-09-17 20:41] #296 closed

[2022-09-22 04:01] CaioVinicius7 opened #297 "console error when using handleCartClick"
Estou utilizando a o `handleCartClick `para controlar se meu carrinho está aberto ou fechado, está tudo funcionando corretamente, porém quando clico nesse botão que chama o `handleCartClick `recebo o seguinte erro no console:  `A non-serializable value was detected in an action, in the path: 'payload`' `

How could I avoid this?

[2022-10-03 23:51] dayhaysoos commented on #297
Hey @CaioVinicius7 , sorry but this is an error that gets thrown during SSR on Next.js. This actually isn't an issue at all, I need to find a way to hide this error.

[2022-10-12 04:43] andrewjmcgehee commented on #233
I'm still running into this issue any time i refresh a page. persistence seems to work fine, but the warning is annoying. any updates?